.matches {
    position: relative;
    padding-top: rem(54);
    padding-bottom: rem(450);
    @extend .container;

    &__heading {
		display: flex;
		margin-bottom: rem(54);
        padding-left: rem(20);

        .select2-container {
            width: rem(280)!important;
        }
	}

	&__title {
        @extend .section-name;
        display: flex;
        align-items: center;
    }

    .pagination {
        margin-right: auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-left: rem(-10);
        margin-right: rem(-10);
        margin-bottom: rem(-20);

        &:not(:last-of-type) {
            margin-bottom: rem(20);
        }

        &_command {
            align-items: flex-start;
        }
    }

    &__date {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 20px);
        margin: 0 rem(10);
        margin-bottom: rem(20);
        padding: rem(10);
        padding-top: rem(25);
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: rem(5);
        background-color: #dcdcdc;

        &-val {
            margin: 0;
            margin-bottom: rem(21);
            padding: 0 rem(20);
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 300;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }


    }

    &__command {
        display: flex;
        flex-direction: column;
        width: calc(33.333% - 20px);
        margin: 0 rem(10);
        margin-bottom: rem(20);
        padding: rem(20) rem(26);
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: rem(5);
        background-color: #dcdcdc;
        cursor: pointer;
        align-items: flex-start;

        &-heading {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0;
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 300;

            img {
                width: rem(40);
                height: auto;
                flex-shrink: 0;
                margin-right: rem(8);
            }
        }

        &-filter,
        &-list {
            display: none;
        }

        &-list  {
            position: absolute;
            z-index: 6;
            left: 0;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 100%;
            padding: rem(10) rem(5);
            padding-bottom: 0;
            margin-bottom: rem(-20);
            box-shadow: 0 3px 3px rgba(0, 6, 26, 0.1);
            background-color: #dcdcdc;
            border-radius: rem(5);

            .match {
                width: calc(33.333% - 10px);
                margin: 0 rem(5);
                margin-bottom: rem(10);
            }
        }

        &-filter {
            position: relative;
            margin-left: rem(48);
            color: #0a5c9a;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 200;
            text-decoration: none;
            border-bottom: rem(1) dashed #0a5c9a;

            &::after {
                position: absolute;
                content: '';
                right: rem(-28);
                top: calc(50% + 2px);
                width: rem(13);
                height: rem(10);
                background-image: url('%=static=%general/arrow_blue.png');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }

            &_filtred {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        &.opened {

            .matches__command-heading {
                margin-bottom: rem(14);

                &::before,
                &::after {
                    position: absolute;
                    content: '';
                    top: rem(5);
                    right: rem(7);

                    width: rem(1);
                    height: rem(19);
                    background-color: #4f4f4f;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
            .matches__command-filter {
                display: flex;
            }
            .matches__command-list {
                display: flex;
            }
        }
    }
}
