<a href="javascript:void(0);" class="match {{modifier}}">
    <div class="match__content">
        <div class="match__commands">
            <p class="match__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
            <p class="match__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
        </div>
        <div class="match__info">
            <p class="match__result">5 : 0</p>
            <p class="match__time">{{time}}</p>
            <p class="match__time-info">-32:07</p>
        </div>
    </div>
</a>
