.rating {
    width: 61.0625rem;
    flex-direction: column;

    .popup__content {
        display: flex;
        flex-direction: column;
        padding: rem(30);
        background-color: #fff;
        border-radius: rem(5);
        overflow: hidden;
        max-height: rem(450);
        border-radius: rem(5) rem(5) 0 0;

        p {
            margin: 0;
            color: #515151;
            font-style: italic;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(23);
        }
    }

    .popup__footer {
        background-color: #f0f0f0;
        padding: rem(40) rem(30);
        box-shadow: inset 0 0 10px rgba(0,0,0,.1);
        border-radius: 0 0 rem(5) rem(5);
    }

    .popup__footer p, .rating p.rating__formula {
        margin: 0;
        font-family: $helvetica;
        font-weight: 400;
    }

    p.rating__formula {
        display: inline-flex;
        align-items: center;
        margin-bottom: 2.1875rem;
        font-style: italic;
        color: #b4b4b4;
        font-size: 1rem;
        white-space: pre;

        span {
            font-style: normal;
        }
    }

    .rating__formula {
        img {
            margin-right: rem(50);
        }
    }

    .popup__content p:not(:last-of-type) {
        margin-bottom: rem(25);
    }
}
