<article data-src="{{popup}}" class="expressCard {{modifier}} {{mix}} {{jsOpen}}">
   <div class="expressCard__content">
        <div class="expressCard__result-match">
            <p class="expressCard__status">
                {{Icon iconName='wait' className='expressCard__status-icon' iconWidth='25' iconHeight='25'}}
                {{status}}
            </p>
            <p class="expressCard__rating-change">
                + 180%
            </p>
            <p class="expressCard__action">
                голосовал
            </p>
        </div>
        <div class="expressCard__express">

            <p class="expressCard__count">
                Экспресс из <span>5</span> ставок
            </p>
            <div class="expressCard__sport">
                <div class="expressCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                    {{Icon iconName='box' className='expressCard__sport-icon' iconWidth='30' iconHeight='30'}}
                    {{> tooltip/tooltip tooltip.sport}}
                </div>
                <div class="expressCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                    {{Icon iconName='box' className='expressCard__sport-icon' iconWidth='30' iconHeight='30'}}
                    {{> tooltip/tooltip tooltip.sport}}
                </div>
                <div class="expressCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                    {{Icon iconName='box' className='expressCard__sport-icon' iconWidth='30' iconHeight='30'}}
                    {{> tooltip/tooltip tooltip.sport}}
                </div>
                <div class="expressCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                    {{Icon iconName='box' className='expressCard__sport-icon' iconWidth='30' iconHeight='30'}}
                    {{> tooltip/tooltip tooltip.sport}}
                </div>
                <div class="expressCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                    {{Icon iconName='box' className='expressCard__sport-icon' iconWidth='30' iconHeight='30'}}
                    {{> tooltip/tooltip tooltip.sport}}
                </div>
            </div>
            <div class="expressCard__time">
                <p>28 апреля в 3:00 по Москве</p>
                <span>LIFE</span>
                <span>- 72:51:06</span>
            </div>
        </div>
        <div class="expressCard__coefficient">
            <p>1.7</p>
        </div>
        <div class="expressCard__info">
            <a href="javascript:void(0);" class="expressCard__name"><span class="js-open" data-src=".analist">Оптимус прайм</span> {{> diagramm/diagramm diagramm.orange}}</a>
            <p class="expressCard__inner-coefficient">Коэффициент:  <span>1.7</span></p>
            <p class="expressCard__result">Фора 2 (-6)</p>
            <a href="javascript:void(0);" class="expressCard__buy"><p>В корзину: <span>900</span> руб</p></a>
            <a href="javascript:void(0);" class="expressCard__more">Смотреть подробнее</a>
            <p class="expressCard__money">920 руб</p>
            <p class="expressCard__desc">По подписке дешевле</p>
        </div>
        <div class="expressCard__consonants">
            <div class="expressCard__like">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='expressCard__like-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Согласных:</dt>
                    <dd>1024</dd>
                </dl>
            </div>
            <div class="expressCard__dislike">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='expressCard__dislike-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Не согласны:</dt>
                    <dd>273</dd>
                </dl>
            </div>
            <div class="expressCard__comment">
                <a href="javascript:void(0);">
                    {{Icon iconName='review' className='expressCard__comment-icon' iconWidth='22' iconHeight='19'}}
                </a>
                <dl>
                    <dt>Комментариев</dt>
                    <dd>98</dd>
                </dl>
            </div>
        </div>
        <div class="expressCard__basket">
            <a href="javascript:void(0);" data-src=".buy" class="expressCard__basket-buy js-open">Купить <br> прогноз</a>
            <a href="javascript:void(0);" data-src=".buy" class="expressCard__basket-remove js-open">Удалить из корзины</a>
        </div>
   </div>
</article>
