.expressCard {
    transition: border .3s;
    border: rem(2) solid transparent;
    border-radius: rem(2);

    &__content {
        display: flex;
        width: 100%;
        height: rem(150);

        border-radius: rem(2);
        overflow: hidden;
        box-shadow: 0px 3px 3px 0px rgba(0, 6, 26, 0.1);

    }

    &:hover {
        border: rem(2) solid $orangeDark;
    }

    &:not(:last-of-type) {
        margin-bottom: rem(15);
    }

    &__inner-coefficient {
        display: none;
        margin: 0;
        color: #4f4f4f;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 400;
    }

    &_commercial {
        & .expressCard__desc {
            display: block;
        }

        & .expressCard__result {
            display: none;
        }

        & .expressCard__buy {
            display: flex;
        }

        & .expressCard__more {
            display: none;
        }

        & .expressCard__name {
            margin-bottom: rem(10);
        }

        & .expressCard__like-icon,
        & .expressCard__dislike-icon {
            fill: #969696;
        }

        & .expressCard__like:hover .expressCard__like-icon,
        & .expressCard__dislike:hover .expressCard__dislike-icon {
            fill: #969696;
        }

        & .expressCard__comment:hover .expressCard__comment-icon {
            fill: #c8c8c8;
        }

        & .expressCard__like,
        & .expressCard__dislike,
        & .expressCard__like:hover,
        & .expressCard__dislike:hover,
        & .expressCard__comment:hover,
        & .expressCard__comment {
            dt,
            dd {
                color: rgba(79, 79, 79, 1);
            }
        }

        & .expressCard__comment {
            dl {
                dt,
                dd {
                    font-weight: 300!important;
                    font-style: italic!important;
                    color: $manatee!important;
                }
            }
        }
    }

    &__sport-league {
        display: flex;
        flex-direction: column;
        width: rem(70);
        padding: rem(25) rem(20);
        margin-right: rem(2);

        background-color: $white;
    }

    &__sport-icon {
        margin-bottom: rem(20);
    }

    &__sport-icon,
    &__league-icon {
        fill: $ashgrey;
        cursor: pointer;

        transition: fill .3s;
    }

    &__sport-icon:hover,
    &__league-icon:hover {
        fill: $orangeDark;
    }

    &__express {
        display: flex;
        flex-direction: column;
        padding: rem(25) rem(20);
        margin-right: rem(2);
        width: rem(436);

        background-color: $white;
    }

    &__match-details {
        display: flex;
        width: rem(364);
        flex-direction: column;
        align-items: flex-start;
        padding: rem(25) rem(30);
        margin-right: rem(2);
        padding-right: rem(5);

        background-color: $white;
    }

    &__count {
        margin: 0;
        margin-bottom: rem(10);
        font-family: 'Helvetica Neue';
        font-size: rem(24);
        font-weight: 300;
        color: rgba(79, 79, 79, 1);
        text-align: left;
    }

    &__sport {
		display: flex;
        margin-bottom: auto;

        & svg {
            margin: 0;
        }
    }

    &__tooltip {
        &:not(:last-of-type) {
            margin-right: rem(10);
        }
    }

    &__time {
        width: 100%;
        display: flex;

        p {
            margin: 0;
            margin-right: rem(15);
            font-family: 'Helvetica Neue';
            font-size: rem(14);
            font-weight: 300;
            font-style: italic;
            color: $manatee;
        }

        span {
            font-family: 'Helvetica Neue';
            font-size: rem(14);
            font-weight: 300;
            font-style: italic;
            color: $vivid;

            &:not(:last-of-type) {
                margin-right: rem(10);
            }
        }
    }

    &__coefficient {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(121);
        margin-right: rem(2);
        padding: rem(23);

        background-color: $white;

        p {
            font-family: 'Helvetica Neue';
            font-size: rem(40);
            font-weight: 100;
            color: $grey;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: rem(422);
        margin-right: rem(2);
        padding: rem(25) rem(30);

        background-color: $white;
    }

    &__result {
        margin: 0;

        font-family: 'HelveticaNeueCyr';
        font-size: rem(18);
        font-weight: 100;
        color: $grey;
        text-align: left;
    }

    &__buy {
        display: none;
        margin-bottom: rem(10);
        height: rem(35);
        width: rem(225);
        @extend .button;
        @extend .button_orange;

        & p {
            margin: 0;
            white-space: nowrap;
        }
    }

    &__name {
        margin: 0;

        font-family: 'Helvetica Neue';
        font-size: rem(24);
        font-weight: 100;
        color: $blue;
        text-align: left;
        text-decoration: none;

        transition: color .3s;

        &:hover {
            color: $orangeDark;
        }

        .diagramm {
            margin-left: rem(25);

            p {
                font-size: rem(24);
            }
        }
    }

    &__more,
    &__desc{
        margin: 0;
        font-family: 'HelveticaNeueCyr';
        font-size: rem(14);
        font-weight: 300;
        font-style: italic;
        color: $manatee;
        text-align: left;
    }

    &__desc {
        display: none;
    }

    &__consonants {
        display: flex;
        align-items: center;
        flex-grow: 999;
        flex-direction: column;
        padding: rem(30);

        background-color: $white;

        dl {
            margin: 0;
            display: inline-flex;
            flex-grow: 999;

            dt,
            dd {
                margin: 0;

                font-family: 'HelveticaNeueCyr';
                font-size: rem(14);
                font-weight: 300;
                color: $electricblue;
                text-align: left;

                transition: color .3s;
            }

            dt {
                width: 80%;
            }

            dd {
                width: 20%
            }
        }
    }

    &__like,
    &__dislike,
    &__comment {
        display: flex;
        width: 100%;
        align-items: center;

        cursor: pointer;

        a {
            display: block;
            margin-right: rem(10);
        }
    }

    &__like {
        margin-bottom: rem(15);
    }

    &__dislike {
        margin-bottom: rem(17);
    }

    &__like:hover,
    &__dislike:hover,
    &__comment:hover {
        & dt,
        & dd {
            color: $orangeDark;
        }
        & svg {
            fill: $orangeDark;
        }
    }

    &__like-icon,
    &__dislike-icon {
        fill: #16aaff;

        transition: fill .3s;
    }

    &__comment-icon {
        fill: $lavandargrey;

        transition: fill .3s;
    }

    &__dislike-icon {
        transform: rotate(180deg);
    }

    &_mini {
        .expressCard__consonants {
            dt {
                display: none;
            }
        }

        .expressCard__coefficient {
            display: none;
        }

        .expressCard__inner-coefficient {
            display: block;
        }

        .expressCard__desc,
        .expressCard__result {
            display: none;
        }

        .expressCard__buy,
        .expressCard__name {
            margin-bottom: 0;
        }
    }

    &_multiple  {
        position: relative;
        cursor: pointer;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: calc(100% + 2px);
            right: rem(-3);
            bottom: rem(-5);
            border-radius: rem(2);
            background-color: $white;
            z-index: -1;
            box-shadow: 0 3px 3px rgba(0, 6, 26, 0.1);
            background-color: #f0f0f0;
            border: rem(2) solid transparent;
            transition: border .3s;
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            right: rem(-6);
            bottom: rem(-10);
            border-radius: rem(2);
            background-color: $white;
            z-index: -2;
            box-shadow: 0 3px 3px rgba(0, 6, 26, 0.1);
            background-color: #f0f0f0;
            border: rem(2) solid transparent;
            transition: border .3s;
        }

        &:hover {
            &::before,
            &::after {
                border: rem(2) solid $orangeDark;
                border-radius: rem(3);
                border-top: rem(2) solid transparent;
            }
            &::before {
                right: rem(-5);
                bottom: rem(-6);
                width: calc(100% + 4px);
            }

            &::after {
                width: calc(100% + 3px);
                right: rem(-8);
                bottom: rem(-10);
            }
        }
    }

    &__consonants {
        .expressCard__comment {
            dt,
            dd {
                color: #c8c8c8;
            }

            &:hover {
                dt,
                dd {
                    color: $orangeDark;
                }
            }
        }
    }
}
