@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
