@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Regular.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Bold.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Medium.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-Light.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-LightItalic.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-LightItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/subset-HelveticaNeue-ThinItalic.woff2') format('woff2'),
		url('../fonts/subset-HelveticaNeue-ThinItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'magneto';
	src: url('../fonts/MagnetoBold.woff2') format('woff2'),
		url('../fonts/MagnetoBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
