// File for scss-vars.
// For example: main colors, paddings and so on.
$grey: #747474;
$orange: #ffba00;
$orangeDark: #fc8e00;
$white: #ffffff;
$black: #000000;
$grey_light: #ebebeb;
$pastel_blue: #acc0c5;
$blue: #0a5c9a;
$darkblue: #233037;
$electricblue: #0a5c9a;
$manatee: #969696;
$vivid: #d71977;
$ashgrey: #969696;
$lavandargrey: #c8c8c8;

$helvetica: 'Helvetica Neue';
