.analistList {
    display: flex;
    flex-direction: column;
    padding: rem(20);
    margin-bottom: rem(20);
    box-shadow: 0 rem(3) rem(3) rgba(0,6,26,.1);
    border-radius: rem(5);
    background-color: #f0f0f0;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    &__search {
        width: rem(640);
        padding: rem(10);
        border: rem(1) solid #c7c7c7;
        background-color: #dcdcdc;
        height: rem(45);
        border-radius: rem(2);

        .search__button {
            width: rem(22.5);
            height: rem(24);
        }

        .search__input {
            width: 100%;
            height: 100%;
            font-style: normal;
            font-weight: 300;

            &::-webkit-input-placeholder {
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 300;
            }

            &::-moz-placeholder {
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 300;
            }

            &:-moz-placeholderr {
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 300;
            }

            &:-ms-input-placeholde {
                width: 100%;
                height: 100%;
                font-style: normal;
                font-weight: 300;
            }
        }
    }
    &__sort,
    &__total {
        margin: 0;
        color: #979797;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 400;
    }

    &__sort {
        margin-right: rem(15);
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        border-radius: rem(2);
        overflow: hidden;
        border: rem(2) solid transparent;
        transition: border .3s;

        &:hover {
            border: rem(2) solid #fc8e00;
        }

        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &-content,
        &-analist,
        &-info {
            display: flex;
        }

        &-content {
            width: 100%;
            box-shadow: 0 3px 3px rgba(0,6,26,.1);
            background-color: #e5e5e6;
        }

        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(82);
            margin-right: rem(2);
            padding: rem(20);
            background-color: #fff;

            p {
                color: #4f4f4f;
                font-family: $helvetica;
                font-size: rem(24);
                font-weight: 200;
            }
        }

        &-analist {
            width: rem(385);
            margin-right: rem(2);
            padding: rem(20);
            background-color: #fff;

            img {
                width: rem(50);
                height: rem(50);
                margin-right: rem(15);
                border-radius: 50%;
                overflow: hidden;
            }
        }

        &-rate {
            flex-direction: column;
            justify-content: space-between;
            width: rem(205);
            margin-right: rem(2);
            padding: rem(20);
            background-color: #fff;
        }

        &-forecasts {
            display: flex;
            align-items: flex-start;
            flex-grow: 3;
            padding: rem(20);
            background-color: #fff;
        }

        &-remove {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: rem(20);
            margin-left: rem(2);
            flex-shrink: 0;
        }

        &-close {
            position: relative;
            width: rem(27);
            height: rem(27);
            padding: 0;
            text-indent: -9999px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            transition: transform .5s,background-color .5s;

            &::after,
            &::before {
                position: absolute;
                content: '';
                top: -.125rem;
                left: .75rem;
                width: .125rem;
                height: 1.875rem;
                background-color: #989898;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            &:hover {
                transform: scale(1.3);

                &::after,
                &::before {
                    background-color: #fc8e00;
                }
            }
        }
    }

    &__card-info {
        flex-direction: column;
        justify-content: space-between
    }

    &__card-name  {
        color: #0a5c9a;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 400;
        text-decoration: none;
    }

    &__card-date {
        margin: 0;
        color: #b5b5b5;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        font-style: italic;
    }

    &__card-rate,
    &__card-rating {
        display: flex;
    }

    &__card-rate {
        flex-direction: column;
        justify-content: space-between;
        width: rem(205);
        margin-right: rem(2);
        padding: rem(20);
        background-color: #fff;
    }

    &__card-forecasts,
    &__card-rating {
        p {
            margin: 0;
            margin-right: rem(10);
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 200;
        }
    }

    &__card-ratio {
        margin: 0;
        color: #b5b5b5;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        font-style: italic;
    }

    &__card-forecasts {
        display: flex;
        align-items: flex-start;
        flex-grow: 3;
        padding: rem(20);
        background-color: #fff;

        p {
            margin-right: rem(20)
        }
    }

    &__tooltip {
        &:not(:last-of-type) {
            margin-right: rem(20);
        }

        &:hover {
            .analistList__sport-icon {
                fill: #fc8e00
            }
            .analistList__tooltip-count {
                color: #fc8e00;
            }
        }
    }

    &__sport-icon {
        fill: #969696;
        cursor: pointer;
        transition: fill .3s;
    }

    p.analistList__tooltip-count {
        margin: 0;
        color: #b5b5b5;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        text-align: center;
        transition: color .3s;
    }



    .select2-container {
        height: rem(45)!important;
    }

    .select2-container:nth-of-type(1) {
        width: rem(240)!important;
    }
    .select2-container:nth-of-type(2) {
        width: rem(280)!important;
    }
}
