<div class="analistList">
    <div class="analistList__heading">
        <div class="analistList__search search">
            <input type="text" class="search__input" placeholder="Поиск по никнеймам аналитиков">
            <button type="button" class="search__button"></button>
        </div>
        <select class="select" name="sortingSport" id="">
            <option value="">Все виды спорта</option>
            <option value="">Футбол</option>
            <option value="">Крекет</option>
        </select>
        <p class="analistList__total">Всего <span>1599</span> аналитиков</p>
        <p class="analistList__sort">Сортировать</p>
        <select class="select" name="sortingRate" id="">
            <option value="">по Рейтингу</option>
            <option value="">по Размеру головы</option>
        </select>
    </div>
    <div class="analistList__list">
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
        <article class="analistList__card">
            <div class="analistList__card-content">
                <div class="analistList__card-analist">
                    <img src="static/img/general/analist.jpg" alt="">
                    <div class="analistList__card-info">
                        <a data-src=".analist" href="javascript:void(0);" class="analistList__card-name js-open">Роман Самборский</a>
                        <p class="analistList__card-date">от <span>23.06.2017</span>
                        </p>
                    </div>
                </div>
                <div class="analistList__card-rate">
                    <div class="analistList__card-rating">
                        <p>Ra =</p>
                        {{> diagramm/diagramm diagramm.orangebig}}
                    </div>
                    <p class="analistList__card-ratio">СрК = 2.3</p>
                    <div class="tooltip tooltip_rate">
                        <div id="tooltip_content">
                            <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
                            <p><span>Желтые</span> 72 шт - <span>верные</span>
                            </p>
                            <p><span>Серые</span> 49 шт - <span>ошибочные</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-forecasts">
                    <p>Делает прогнозы в:</p>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">7301</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">540</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">31</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                    <div class="analistList__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">

                        {{Icon iconName='box' className='analistList__sport-icon' iconWidth='30' iconHeight='30'}}

                        <p class="analistList__tooltip-count">2</p>
                        <div class="tooltip tooltip_sport">
                            <div id="tooltip_content">
                                <p>Футбол</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analistList__card-remove">
                    <button type="button" class="analistList__card-close">Закрыть</button>
                </div>
            </div>
        </article>
    </div>
</div>
