.personalArea {
	@extend .container;
    padding-top: rem(60);
    padding-bottom: rem(260);

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 40px);
        margin-left: rem(-20);
        margin-right: rem(-20);
    }

    &__item {
        display: flex;
        text-decoration: none;
        padding: rem(35) rem(40);
        width: calc(50% - 40px);
        margin: 0 rem(20);
        align-items: center;
        margin-bottom: rem(15);
        border-radius: 10px;
        transition: background-color .3s;

        &:hover {
            background-color: #1e2933;

            .personalArea__item-title,
            .personalArea__item-title p,
            .personalArea__item-title .diagramm p,
            .personalArea__item-title span {
                color: #ffba00;
            }

            .personalArea__item-desc {
                color: #fff;
            }

            .personalArea__item-title svg .border {
                stroke: #7f7f7f;
            }
            .personalArea__item-title svg .circle {
                stroke: #ffba00;
            }

            &:nth-of-type(1) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/pocent_.png');
                }
            }
            &:nth-of-type(2) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/glass_.png');
                }
            }
            &:nth-of-type(3) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/money_.png');
                }
            }
            &:nth-of-type(4) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/cart_.png');
                }
            }
            &:nth-of-type(5) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/docs_.png');
                }
            }
            &:nth-of-type(6) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/paket_.png');
                }
            }
            &:nth-of-type(7) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/stars_.png');
                }
            }
            &:nth-of-type(8) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/lampa_.png');
                }
            }
            &:nth-of-type(9) {
                .personalArea__item-icon {
                    background-image: url('%=static=%general/rules_.png');
                }
            }
        }

        &-icon {
            margin-right: rem(32);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:nth-of-type(1) {
            .personalArea__item-icon {
                width: rem(50);
                height: rem(50);
                background-image: url('%=static=%general/pocent.png');
            }
        }
        &:nth-of-type(2) {
            .personalArea__item-icon {
                width: rem(55);
                height: rem(46);
                background-image: url('%=static=%general/glass.png');
            }
        }
        &:nth-of-type(3) {
            .personalArea__item-icon {
                width: rem(50);
                height: rem(51);
                background-image: url('%=static=%general/money.png');
            }
        }
        &:nth-of-type(4) {
            .personalArea__item-icon {
                width: rem(54);
                height: rem(50);
                background-image: url('%=static=%general/cart.png');
            }
        }
        &:nth-of-type(5) {
            .personalArea__item-icon {
                width: rem(42);
                height: rem(50);
                background-image: url('%=static=%general/docs.png');
            }
        }
        &:nth-of-type(6) {
            .personalArea__item-icon {
                width: rem(54);
                height: rem(56);
                background-image: url('%=static=%general/paket.png');
            }
        }
        &:nth-of-type(7) {
            .personalArea__item-icon {
                width: rem(56);
                height: rem(51);
                background-image: url('%=static=%general/stars.png');
            }
        }
        &:nth-of-type(8) {
            .personalArea__item-icon {
                width: rem(60);
                height: rem(64);
                background-image: url('%=static=%general/lampa.png');
            }
        }
        &:nth-of-type(9) {
            .personalArea__item-icon {
                width: rem(50);
                height: rem(50);
                background-image: url('%=static=%general/rules.png');
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-title {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            margin-bottom: rem(10);
            font-size: rem(30);
            font-family: $helvetica;
            letter-spacing: 1.5px;
            font-weight: 300;
            letter-spacing: 1.5px;
            color: #fff;

            p {
                margin: 0;
                color: #fff;
            }

            span {
                font-family: $helvetica;
				margin-left: rem(10);
			    color: #afccc8;
                letter-spacing: 1.5px;
				transition: color .3s;
            }
        }

        .diagramm {
            align-items: center;

            p {
                color: #afccc8;
                font-family: $helvetica;
                font-size: rem(30);
                font-weight: 300;
                transition: color .3s;
            }

            &__circle {
                width: rem(34);
                height: rem(34);
            }
        }

        &-desc {
            margin: 0;
            font-family: $helvetica;
            opacity: .8;
            color: #000;
            font-size: rem(18);
            font-weight: 400;
            transition: color .3s;
        }
    }

    .diagramm svg .border {
        stroke: #334344;
        transition: stroke .3s;
    }
}
