<footer class="footer">
    <a href="" class="footer__nav">Опроекте</a>
    <a href="" class="footer__nav">Подписки</a>
    <a href="" class="footer__nav">Форум</a>
    <a href="" class="footer__social">
        {{Icon iconName='fb' className='footer__icon footer__icon_fb' iconWidth='30' iconHeight='30'}}
    </a>
    <a href="" class="footer__social">
        {{Icon iconName='vk' className='footer__icon footer__icon_vk' iconWidth='30' iconHeight='30'}}
    </a>
    <a href="" class="footer__social">
        {{Icon iconName='ok' className='footer__icon footer__icon_ok' iconWidth='30' iconHeight='30'}}
    </a>
    <a href="" class="footer__social">
        {{Icon iconName='insta' className='footer__icon footer__icon_insta' iconWidth='30' iconHeight='30'}}
    </a>
    <p class="footer__text">- Присоединяйтесь</p>
    <div class="footer__copyright">
        <p>c 2009г © ООО "Капперум"</p>
        <span>Сайт разработан Samborsky.ru </span>
    </div>
</footer>