.analistRating {

    @extend .container;
    padding-top: rem(65);
    padding-bottom: rem(115);

    &__title  {
        @extend .section-name;
        margin-bottom: rem(10);
		padding: 0 rem(20);
    }

    &__filter {
        display: flex;
        justify-content: flex-end;

        input {
            display: none;
        }
    }

    &__filter-item {
        display: flex;

        padding: rem(20) rem(25) rem(35);
        border-radius: rem(5) rem(5) 0 0;
        cursor: pointer;

        p {
            margin: 0;
            font-family: $helvetica;
            font-size: 1.125rem;
            color: #fff;
            font-style: italic;
            font-weight: 300;
            text-decoration: none;
            text-align: center;
            opacity: .5;
            transition: opacity .3s;
        }

        &.active {
            background-color: #f0f0f0;

            p {
                color: #747474;
                opacity: 1;
            }
        }

        &:hover {
            p {
                opacity: 1;
            }
        }
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: 100%;
        height: rem(85);
        font-size: rem(24);
    }
}
