<section data-src=".rating" class="diagramm {{modifier}} js-open">
    <p><span class="diagramm__value">80</span>%</p>
    <div data-tooltip-content="#tooltip_rate" class="diagramm__circle tooltip_rate"></div>
</section>
<div class="tooltip tooltip_rate">
    <div id="tooltip_rate">
        <p>Кольцо рейтинга показывает отношение количества верных прогнозов аналитика к ошибочным.</p>
        <p><span>Желтые</span> 72 шт - <span>верные</span>
        </p>
        <p><span>Серые</span> 49 шт - <span>ошибочные</span>
        </p>
    </div>
</div>
