.diagramm {
    display: inline-flex;
    align-items: flex-end;
    cursor: pointer;

    p {
        margin: 0;
        font-family: $helvetica;
        font-size: rem(24);
        color: #ffba00;
        font-weight: 300;
    }

    &__circle {
        width: rem(28);
        height: rem(28);
    }

    &_mini {
        .diagramm__circle {
            width: rem(22);
            height: rem(22);
        }
    }

    &_black.diagramm_big {
        .diagramm__circle {
            width: rem(60);
            height: rem(60);
        }
    }
}

.timer {
    display: none!important;
}
