<article class="developer">
    <img class="developer__avatar" src="%=static=%img/assets/developer/dev.jpg" alt="">
    <div class="developer__info">
        <p class="developer__name">Тракторовкин Петр</p>
        <p class="developer__position">Главный программист</p>
        <p class="developer__desc">Описание того или иного специалиста описание того или иного специалиста описание того или иного специалиста описание того или иного специалиста описание того или иного. Описание того или иного специалиста описание...</p>
        <a href="javascript:void(0);" class="developer__more">Читать подробнее</a>
    </div>
</article>
