<article data-src="{{popup}}"  class="forecastCard {{modifier}} {{mix}} {{jsOpen}}">
   <div class="forecastCard__content">
       <div class="forecastCard__result-match">
          <p class="forecastCard__status">
              {{Icon iconName='wait' className='forecastCard__status-icon' iconWidth='25' iconHeight='25'}}
              {{status}}
          </p>
          <p class="forecastCard__rating-change">
              + 180%
          </p>
          <p class="forecastCard__action">
              голосовал
          </p>
       </div>
        <div class="forecastCard__sport-league">
            <div class="forecastCard__tooltip tooltipstered" data-tooltip-content=".tooltip_sport #tooltip_content">
                {{Icon iconName='box' className='forecastCard__sport-icon' iconWidth='30' iconHeight='30'}}
                {{> tooltip/tooltip tooltip.sport}}
            </div>
            <div class="forecastCard__tooltip tooltipstered" data-tooltip-content=".tooltip_league #tooltip_content">
                {{Icon iconName='league' className='forecastCard__league-icon' iconWidth='30' iconHeight='30'}}
                {{> tooltip/tooltip tooltip.league}}
            </div>
        </div>
        <a href="javascript:void(0);" title="перейти к матчу" class="forecastCard__match-details">
            <p class="forecastCard__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
            <p class="forecastCard__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
            <div class="forecastCard__time">
                <p>28 апреля в 3:00 по Москве</p>
                <span>LIFE</span>
                <span>- 72:51:06</span>
            </div>
        </a>
        <div class="forecastCard__coefficient">
            <p>1.7</p>
        </div>
        <div class="forecastCard__info">
            <a href="javascript:void(0);"  class="forecastCard__name"><span data-src=".analist" class="js-open">Оптимус прайм</span> {{> diagramm/diagramm diagramm.orange}}</a>
            <p class="forecastCard__inner-coefficient">Коэффициент:  <span>1.7</span></p>
            <p class="forecastCard__result">Фора 2 (-6)</p>
            <a href="javascript:void(0);" class="forecastCard__buy"><p>В корзину: <span>900</span> руб</p></a>
            <a href="javascript:void(0);" class="forecastCard__more">Смотреть подробнее</a>
            <p class="forecastCard__money">920 руб</p>
            <p class="forecastCard__desc">По подписке дешевле</p>
        </div>
        <div class="forecastCard__consonants">
            <div class="forecastCard__like">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='forecastCard__like-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Согласных:</dt>
                    <dd>1024</dd>
                </dl>
            </div>
            <div class="forecastCard__dislike">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='forecastCard__dislike-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Не согласны:</dt>
                    <dd>273</dd>
                </dl>
            </div>
            <div class="forecastCard__comment">
                <a href="javascript:void(0);">
                    {{Icon iconName='review' className='forecastCard__comment-icon' iconWidth='22' iconHeight='19'}}
                </a>
                <dl>
                    <dt>Комментариев</dt>
                    <dd>98</dd>
                </dl>
            </div>
        </div>
        <div class="forecastCard__basket">
            <a href="javascript:void(0);" data-src=".buy" class="forecastCard__basket-buy js-open">Купить <br> прогноз</a>
            <a href="javascript:void(0);" data-src=".buy" class="forecastCard__basket-remove js-open">Удалить из корзины</a>
        </div>
   </div>
</article>
