<header class="header {{mix}}">
    <a href="javascript:void(0);" class="header__logo">
        <img src="%=static=%img/general/logo.png" alt="">
        <div class="header__logo-name">
            <p>Ca<span>pp</span>eroom</p>
            <span>спортивные прогнозы</span>
        </div>
    </a>
    <nav class="header__nav">
        <div class="hamburger"></div>
        <a href="javascript:void(0);">Прогнозы</a>
        <a href="javascript:void(0);">Аналитики</a>
        <a href="javascript:void(0);">Матчи</a>
        <a href="javascript:void(0);">Информация</a>
        <a href="javascript:void(0);">Личный кабинет</a>
    </nav>
    <div class="header__search search">
        <input type="text" class="search__input">
        <button type="button" class="search__button"></button>
    </div>
</header>