<header class="header {{mix}}">
    <a href="javascript:void(0);" class="header__logo">
        <img src="%=static=%img/general/logo.png" alt="">
        <div class="header__logo-name">
            <p>Ca<span>pp</span>eroom</p>
            <span>спортивные прогнозы</span>
        </div>
    </a>
    <nav class="header__nav">
        <div class="hamburger"></div>
        <div class="header__link">
            <a href="javascript:void(0);">Прогнозы</a>
            <div class="header__sublinks">
                <a href="javascript:void(0)">Бесплатные прогнозы</a>
                <a href="javascript:void(0)">Платныепрогнозы</a>
                <a href="javascript:void(0)">Отслеживаемые прогнозы</a>
                <a href="javascript:void(0)">Корзина прогнозов</a>
                <a href="javascript:void(0)">Архив прогнозов</a>
                <a href="javascript:void(0)">Создать прогноз</a>
            </div>
        </div>
        <div class="header__link">
            <a href="javascript:void(0);">Аналитики</a>
            <div class="header__sublinks">
                <a href="javascript:void(0)">Рейтинг аналитиков</a>
                <a href="javascript:void(0)">Избранные аналитики</a>
                <a href="javascript:void(0)">Ваш рейтинг аналитика</a>
            </div>
        </div>
        <div class="header__link">
            <a href="javascript:void(0);">Матчи</a>
            <div class="header__sublinks">
                <a href="javascript:void(0)" class="header__hotlink">Футбол</a>
                <a href="javascript:void(0)" class="header__hotlink">Хоккей</a>
                <a href="javascript:void(0)" class="header__hotlink">Баскетболл</a>
                <a href="javascript:void(0)" class="header__hotlink">Мотогонки</a>
                <a href="javascript:void(0)" class="header__hotlink">Яхтинг</a>
                <a href="javascript:void(0)">Айкидо</a>
                <a href="javascript:void(0)">Бейсболл</a>
                <a href="javascript:void(0)">Волейболл</a>
                <a href="javascript:void(0)">Гиревый спорт</a>
                <a href="javascript:void(0)">Футбол</a>
                <a href="javascript:void(0)">Футбол</a>
                <a href="javascript:void(0)">Футбол</a>
            </div>
        </div>
        <div class="header__link">
            <a href="javascript:void(0);">Информация</a>
            <div class="header__sublinks">
                <a href="javascript:void(0)">Вопросы, Предложения, Форум</a>
                <a href="javascript:void(0)">Подписки</a>
                <a href="javascript:void(0)">Капперум - это...</a>
            </div>
        </div>
        <div class="header__link">
            <a href="javascript:void(0);">Личный кабинет</a>
            <div class="header__sublinks">
                <a href="javascript:void(0)">Рейтинг <span>670%</span></a>
                <a href="javascript:void(0)">Баланс <span>2700р</span></a>
                <a href="javascript:void(0)">Подписки <span>Silver</span></a>
                <a href="javascript:void(0)">Отслеживаемые прогнозы <span>7</span></a>
                <a href="javascript:void(0)">Корзина прогнозов <span>3</span></a>
                <a href="javascript:void(0)">Купленные прогнозы <span>12</span></a>
                <a href="javascript:void(0)">Мои прогнозы <span>3</span></a>
                <a href="javascript:void(0)">Избранные аналитики <span>41</span></a>
                <a href="javascript:void(0)">Данные и настройки</a>
            </div>
        </div>
    </nav>
    <div class="header__search search">
        <input type="text" class="search__input">
        <button type="button" class="search__button"></button>
    </div>
</header>