// Common styles of the project

html, body {
    height: 100%;
    box-sizing: border-box;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar {
    	width: rem(7);
    	background-color: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
    	background-color: rgba(0, 192, 255, 1);
    }

    &::-webkit-scrollbar-track {
    	background-color: #f0f0f0;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: rem(1240);
    margin: 0 auto;
}

body {
    background-color: #48616f;
    background-image: url('%=static=%general/main_bg.jpg');
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page {
    &__wrapper {
        min-height: 100%;
    }

    &__catalogue {
        padding-top: rem(60);
        padding-bottom: rem(150);
        @extend .container;
    }

    &__forecastDetail {
        padding-top: rem(40);
        padding-bottom: rem(150);
        @extend .container;
    }

    &__bunner {
        position: relative;
        display: flex;
        margin-bottom: rem(100);
        @extend .container;

        z-index: 4;

        img {
            width: rem(305);
            height: rem(235);
            margin-right: rem(80);
        }

        h2,
        h3 {
            margin: 0;
            margin-bottom: rem(35);
            font-family: 'Helvetica Neue';
            font-size: rem(48);
            font-weight: 100;
            color: $white;
            text-align: left;
        }

        p {
            margin: 0;
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            font-weight: 100;
            font-style: italic;
            color: $white;
            text-align: left;
            line-height: 1.6;
        }

        .just-wrap {
            display: flex;
            flex-direction: column;
        }
    }

    &__top {
        position: relative;
        margin-bottom: rem(100);

        &::before {
            position: absolute;
            content: '';
            top: rem(130);
            left: 0;

            height: rem(1065);
            width: 100%;
            background-color: #DDDDDD;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: rem(-435);
            left: 0;

            height: rem(534);
            width: 100%;
            background-color: $darkblue;
        }
    }
    &__top-content {
        position: relative;

        z-index: 3;

        @extend .container;
    }

    &__main {
        padding-top: rem(80);

        .title {
            margin-bottom: rem(45);
        }

        .text {
            margin-bottom: rem(90);
        }
    }

	&__analistRating {
		.analistList__heading {
			flex-wrap: wrap;
			align-items: center;
		}

		.analistList__search {
			order: 4;
			width: 100%;
			margin-top: 1.25rem;
		}

        .analistList .select2-container:nth-of-type(1) {
            margin-right: rem(30);
        }

        .analistList__total {
            margin-right: auto;
        }

        .analistList__card-remove {
            display: none;
        }
	}
}

.mCSB_3_scrollbar,
.mCSB_draggerRail {
    width: 20px!important;
    background-color: transparent!important;
}


.mCSB_dragger {
    width: 10px!important;
    background-color: #b4b4b4!important;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.mCSB_dragger_bar {
    width: 100%!important;
    background-color: #b4b4b4!important;
    border-radius: 0!important;

    &:hover {
        background-color: $orange!important;
    }
}

.mCSB_draggerContainer,
.mCSB_scrollTools{
    width: 20px!important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 20px!important;
}
