// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.search {
    display: flex;
    padding: rem(15);
    height: calc(100% - 20px);

    background-color: $grey_light;

    &__input {
        width: 0;

        font-family: 'Helvetica Neue';
        font-size: rem(18);
        color: $grey;
        font-style: italic;
        font-weight: 400;
        text-decoration: none;
        text-align: left;

        background-color: transparent;
        border: none;
        outline: none;

        transition: width .8s;

        &::-webkit-input-placeholder {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &::-moz-placeholder {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &:-ms-input-placeholde {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &.active {
            padding: rem(15);
            margin-right: rem(15);
            width: rem(600);
        }
    }

    &__button {
        width: rem(35);
        height: rem(35);
        padding: 0;
        margin-top: auto;

        outline: none;
        border: none;
        outline: none;
        background-color: transparent;
        background-image: url('%=static=%general/search.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.hamburger {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: none;
    width: rem(40);
    height: rem(35);
    margin-right: auto;

    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;

        height: rem(3);
        width: 100%;

        background-color: $grey;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: calc(50% - 1px);
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }
}

.title {
    position: relative;

    margin: 0;
    padding-bottom: rem(40);
    font-family: 'Helvetica Neue';
    font-size: rem(48);
    font-weight: 100;
    font-style: italic;
    color: $white;
    text-align: center;

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;

        height: 1px;
        width: 400px;

        background-color: rgba(0, 0, 0, 0.2);
        transform: translateX(-50%);
    }

    &_medium {
        font-size: rem(30);
    }
}

.section-name {
    margin: 0;
    color: #ffff;
    font-family: $helvetica;
    font-style: italic;
    font-size: rem(30);
    font-weight: 200;
}

.text {
    margin: 0;

    font-family: 'Helvetica Neue';
    font-size: rem(18);
    font-weight: 100;
    color: $pastel_blue;
    text-align: center;
    letter-spacing: 0.04em;
}

.button {
    display: flex;

    &:not(a) {
        display: block;
    }

    justify-content: center;
    align-items: center;
    padding: rem(15) rem(35);

    font-family: 'Helvetica Neue';
    font-size: rem(18);
    font-weight: 100;
    color: $white;
    text-align: center;
    text-decoration: none;
	white-space: nowrap;

    border-radius: rem(2);
    box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);
    outline: none;
    border:none;
    transition: background .3s;

	&:active {
		position: relative;
		top: rem(1);
	}



    &_blue {
        background-image: linear-gradient(rgba(0, 192, 255, 1) 0%, rgba(22, 170, 255, 1) 100%);

        &:hover {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }

    &_orange {
        background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);

        &:hover {
            background-image: linear-gradient(#ffbc00 0%, #fc8400 100%);
        }
    }

    &_opacity {
        background-color: rgba($white, .3);

        font-family: $helvetica;
        color: rgba(10, 31, 43, 1);

        transition: background-color .3s;

        &:hover {
            background-color: $white;
        }
    }

    &_grey {
        color: #ffffff;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 400;
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: rem(2);
        background-color: #ffffff;
        background-image: linear-gradient(to top, #b0b0b0 0%, #bcbcbc 100%);

        &:hover {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }
}

.popup {
    position: absolute;
    left: 50%;

    display: none;
    padding: rem(10);
    padding-top: rem(25);

    background-color: rgba($black, 0.6);
    border-radius: rem(3);
    transform: translateX(-50%);
    z-index: 999;

    &__title {
        margin: 0;
        margin-bottom: rem(20);
        padding-left: rem(15);

        font-family: $helvetica;
        text-transform: uppercase;
        font-size: rem(18);
        font-weight: 200;
        color: $white;
    }

    &__close {
        position: absolute;
        content: '';
        top: rem(25);
        right: rem(25);

        width: rem(15);
        height: rem(15);
        padding: 0;

        text-indent: -9999px;

        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        transition: transform .5s, background-color .5s;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: rem(-2);
            left: rem(7);

            width: rem(2);
            height: rem(19);
            background-color: $white;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            transform: scale(1.3);

            &::before,
            &::after {
                background-color: $orangeDark;
            }
        }
    }

    &__content {
        display: flex;
        padding: rem(30);

        background-color: $white;
        border-radius: rem(5);
        overflow: hidden;

        form {
            display: flex;
        }
    }

    &__input {
        @extend .input;
    }

    &__button {
        @extend .button;
        @extend .button_blue;
    }

    &__sent {
        display: none;
        margin: 0;
        font-size: rem(14);
        color: $grey;
        font-family: $helvetica;
    }

    &__link {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 200;
        transition: color .3s;

        &_big {
            font-size: rem(14);
        }

        &:hover {
            color: $orangeDark;
        }
    }

    &.opened {
        display: flex;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

.overlay.active {
    display: flex;
}

.select2-container {
    border-radius: 2px!important;
}

.select2-selection {
    padding: rem(5) rem(15);

    background-color: transparent!important;
    border: 1px solid rgba(199, 199, 199, 1)!important;
    border-radius: 2px!important;
    outline: none!important;
    cursor: pointer!important;
}

.select2-selection__rendered {
    display: flex!important;
    align-items: center!important;
    height: 100%!important;
    font-family: $helvetica!important;
    font-size: rem(18)!important;
    font-weight: 100!important;
    color: rgba(151, 151, 151, 1)!important;
}

.select2-container--open {
    background-color: #c7c7c7!important;

    .select2-selection__rendered {
        color: #505050!important;
    }

    .select2-selection__arrow {
        &::after {
            transform: rotate(180deg) translateY(50%);
        }
    }
}

.select2-dropdown,
.select2-dropdown li {
    background-color: #c7c7c7!important;
    color: #ffffff;
    border: none!important;
}

.select2-dropdown li {
    padding-left: rem(25);
}

.select2-dropdown li:hover {
    background-color: #878787!important;
    color: #efb415!important;
}

.select2-results {
    padding-bottom: rem(15);
}

.select2-selection__arrow {
    b {
        display: none;
    }

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: rem(10);

        width: rem(18);
        height: rem(12);

        background-image: url('%=static=%general/arrow_grey.png');
        background-size: contain;
        background-repeat: no-repeat;

        transform: translateY(-50%);
    }
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%!important;
}

.dropdown_white.select2-selection  {
    border: rem(1) solid rgba(255, 255, 255, 0.5);

    .select2-selection__rendered {
        color: #ffffff!important;
        font-family: $helvetica;
        font-size: rem(18)!important;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.9px;
    }

    .select2-selection__arrow {
        &::after {
            background-image: url('%=static=%general/arrow_white.png');
        }
    }
}

.input {
    padding: rem(15);

    color: $ashgrey;
    font-family: $helvetica;
    font-size: rem(18);
    font-weight: 200;

    border: rem(1) solid #c7c7c7;
    border-radius: rem(3);
    outline: none;

    &::-webkit-input-placeholder {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &:-moz-placeholderr {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &:-ms-input-placeholde {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &_transparent {
        color: $white;
        background-color: transparent;
        border: rem(1) solid rgba($white, .5);
    }

    &_opacity {
        opacity: .5;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        letter-spacing: .7px;

        &::-webkit-input-placeholder {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &::-moz-placeholder {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &:-moz-placeholderr {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &:-ms-input-placeholde {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }
    }
}

.regestration {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: rem(370);
    }

    form {
        flex-direction: column;
    }

    .popup__input {
        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &:last-of-type {
            margin-bottom: rem(30);
        }
    }
}

.login {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: rem(370);
    }

    .popup__button {
        margin-bottom: rem(15);
    }

    .popup__link {
        margin-left: auto;
        margin-bottom: rem(30);

        &_big {
            margin-bottom: 0;
        }
    }

    .popup__input {
        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &:last-of-type {
            margin-bottom: rem(10);
        }
    }
}

.prize {
    flex-direction: column;

    .popup__content {
        padding: 0;
        width: rem(900);
        height: rem(500);
    }

    &__visual {
        width: rem(595);
        height: 100%;
        display: flex;
        flex-direction: column;
        object-fit: cover;
		flex-shrink: 0;
    }

    &__view {
        width: 100%;
        height: rem(395);
        border: rem(10) solid #f0f0f0;
        object-fit: cover;
    }

    &__gallery {
        overflow: hidden;
        height: rem(105);

        img {
            display: block;
            height: rem(105);
            width: rem(145);
            padding-bottom: rem(10);
            object-fit: cover;
        }

        a {
            position: relative;

            img {
                margin: 0;
                filter: grayscale(100%);

				transition: filter 1s;

				&:hover {
					filter: grayscale(0%);
				}
            }
        }

        .slick-slide {
            a {
                outline: none;
            }
        }

        .slick-current {

            a {
                img {
                    filter: grayscale(0%);
                }

                &::after {
                    position: absolute;
                    content: '';
                    bottom: rem(-1);
                    left: 0;

                    width: 100%;
                    height: rem(5);
                    background-color: $orangeDark;
                }
            }
        }

        .slick-next,
        .slick-prev {
            width: rem(20);
            height: rem(40);

            text-indent: -9999px;

            background: #969696!important;
            z-index: 99999;
            transition: background .3s;

            &:hover {
                background: $orangeDark!important;
            }
        }

        .slick-prev {
            left: 0;

            border-radius: 0 rem(20) rem(20) 0;

            &::after {
                position: absolute;
                content: '';
                left: rem(3);
                top: 50%;

                width: rem(8);
                height: rem(13);

                background-image: url('%=static=%general/arrow_slider.png');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .slick-next {
            right: 0;

            border-radius: rem(20) 0 0 rem(20);

            &::after {
                position: absolute;
                content: '';
                right: rem(3);
                top: 50%;

                width: rem(8);
                height: rem(13);

                background-image: url('%=static=%general/arrow_slider.png');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }

    &__desc {
        padding: rem(20);
        padding-right: rem(5);
        overflow-y: auto;

        p {
            margin: 0;

            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 300;
            color: $grey;

            &:not(:last-of-type) {
                margin-bottom: rem(35);
            }
        }
    }
}

.dropdown_blue {
    padding-top: rem(10)!important;
    background-color: #ecf7ff !important;

    li {
        color: #1a67a1!important;
        background-color: #ecf7ff !important;
        transition: color .3s;

        &:hover {
            background-color: #ecf7ff !important;

        }
    }
}

.favorites {

    &,
    &__custom {
        display: inline-block;
	    vertical-align: middle;
    }

    &__checkbox {
        display: none;

        &:checked + .favorites__custom {
            background-image: url('%=static=%general/star_active.png');
        }
    }

    &__custom {
        position: relative;

        display: block;
        width: rem(22);
        height: rem(22);

        background-image: url('%=static=%general/star.png');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.basket-table {
    position: fixed;

    top: rem(198);
    right: 0;

    display: flex;
    flex-direction: column;
    padding: rem(10);
    padding-right: 0;
    padding-top: rem(20);

    background-color: rgba(240, 240, 240, 1);
    border-radius: rem(5) 0 0 rem(5);
    box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);

    z-index: 5;

    &__title {
        margin: 0;
        margin-bottom: rem(15);
        padding-left: rem(10);

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 300;
        color: rgba(79, 79, 79, 1);
        text-align: left;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: rem(15);
        margin-bottom: rem(10);
        width: rem(90);

        background-color: rgba(255, 255, 255, 1);
        border-radius: rem(3) 0 0 rem(3);
        box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);
    }

    &__desc {
        margin: 0;
        margin-bottom: rem(5);

        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 300;
        color: rgba(180, 180, 180, 1);
        text-align: left;
    }

    &__count,
    &__total {
        margin: 0;
        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;
        color: rgba(10, 92, 154, 1);
        text-align: left;
    }

    &__count {
        margin-bottom: rem(15);
    }

    &__link {
        position: relative;

        @extend .button;
        @extend .button_orange;

        height: rem(25);

        text-align: left;

        border-radius: rem(3) 0 0 rem(3);

        &::before {
            position: absolute;
            content: '';
            top: rem(8);
            left: rem(10);

            height: rem(14);
            width: rem(18);
            background-image: url('%=static=%general/arrow_double_white.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    height: rem(20);

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__text {
        position: relative;
        padding: 0 0 0 25px;
        margin: 0;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        color: rgba(255, 255, 255, .3);
        text-align: left;

        cursor: pointer;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;

            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .3);
        }

        &:after {
            content: '';
            position: absolute;
            left: rem(4);
            top: rem(4);

            width: rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);

            transition: background-color .3s;
        }
    }

    input:checked+.radio__text {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    height: rem(20);

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__text {
        position: relative;
        padding: 0 0 0 25px;
        margin: 0;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        color: rgba(255, 255, 255, .3);
        text-align: left;

        cursor: pointer;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top:0;

            width: rem(20);
            height: rem(20);
            border-radius: rem(2);
            background-color: rgba(255, 255, 255, .3);
        }

        &:after {
            content: '';
            position: absolute;
            left: rem(4);
            top: rem(-4);

            width: rem(19);
            height: rem(22);
            border-radius: 50%;
            background-image: url('%=static=%general/tick.png');
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;

            transition: opacity .3s;
        }
    }

    input:checked+.checkbox__text {
        color: $white;

        &:after {
            opacity: 1;
        }
    }

	&_blue {
		.checkbox__text {
			&::before {
	            content: '';
	            position: absolute;
	            left: 0;
	            top:0;

	            width: rem(20);
	            height: rem(20);
	            border-radius: rem(2);
	            background-color: #00c0ff;
	        }
		}

	}
}

.filter {
	width: rem(263);

	.radio,
	.checkbox {
		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: rem(10);
		}
	}

	&__subtitle {
        width: 100%;
        margin: 0;
        margin-bottom: rem(15);

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        font-style: italic;
        color: $white;
    }

	&__input {
		position: relative;

		input {
			@extend .input;
			@extend .input_transparent;

			width: rem(113);
			height: rem(40);
			padding: rem(10);
			padding-left: rem(51);
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			&:hover,
			&:focus {
			  -moz-appearance: number-input;
			}
		}

		&:first-of-type {
			margin-right: auto;

			&::before {
				position: absolute;
				content: 'от';
				left: rem(15);
				top: 50%;

				font-family: $helvetica;
				font-size: rem(16);
				font-weight: 100;
				color: rgba($white, .5);

				transform: translateY(-50%);
			}

			&::after {
				position: absolute;
				content: '';
				right: rem(-30);
				top: 50%;

				height: rem(1);
				width: rem(23);
				background-color: rgba($white, .5);

				transform: translateY(-50%);
			}
		}

		&:last-of-type {
			&::before {
				position: absolute;
				content: 'до';
				left: rem(15);
				top: 50%;

				font-family: $helvetica;
				font-size: rem(16);
				font-weight: 100;
				color: rgba($white, .5);

				transform: translateY(-50%);
			}
		}
	}

	&__ratio {
		display: flex;
		width: 100%;
		margin-bottom: rem(40);
	}

	&__sport {
		display: flex;
		width: 100%;
		flex-direction: column;

		.checkbox {
			position: relative;

			&__button {
				position: absolute;
				content: '';
				right: 0;
				top: 50%;

				width: rem(13);
				height: rem(10);

				background-image: url('%=static=%general/triangle_white.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-color: transparent;
				border: none;
				padding: 0;
				outline: none;

				transform: translateY(-50%);
			}

			&.opened {
				.checkbox__button {
					transform: rotate(180deg);
				}

				& + .catalogue__sport-details {
					display: flex;
				}

			}
		}
	}

	&__sport-details {
		display: none;
		max-height: rem(345);
		flex-direction: column;
		padding: rem(25) 0;
		padding-top: rem(20);

		overflow: hidden;

		.mCSB_scrollTools {
			left: 10px!important;
			right: auto!important;

			width: 10px!important;

			background-color: rgba(255, 255, 255, .3)!important;
			border-radius: 2px!important;
		}

		.mCSB_inside > .mCSB_container {
			margin-left: 30px!important;
			margin-right: 0!important;
			padding-top: 4px!important;
		}

		.mCSB_dragger {
			margin-left: 0!important;
			margin-right: 0!important;
		}

		.mCSB_dragger_bar {
			background-color: rgba(255, 255, 255, 1)!important;
			border-radius: 2px!important;
		}
	}

	&__all-sport {
		@extend .button;
		@extend .button_opacity;

		height: rem(40);
		width: 100%;
		padding-left: rem(25);
		padding-right: rem(25);
		margin-top: rem(25);
		margin-bottom: rem(20);
	}

	&__all-remove,
	&__all-add {
		font-family: $helvetica;
		font-size: rem(14);
		font-weight: 300;
		color: rgba($white, .5);
		text-align: left;

		transition: color .3s;

		&:hover {
			color: $white;
		}
	}

	&__all-remove {
		margin-bottom: rem(10);
	}

	&__all-add {
		margin-bottom: rem(30);
	}

	&__section {
        display: flex;
        flex-wrap: wrap;
        padding: rem(30) 0;

        border-top: rem(1) solid rgba($white, .5);
    }
}


.catalogue {
	display: flex;
    justify-content: space-between;



	&__title {
        margin: 0;

        font-family: $helvetica;
        font-size: rem(30);
        font-weight: 100;
        font-style: italic;
        color: $white;
        text-align: left;

        padding-left: rem(20);
        padding-bottom: rem(65);
	}



    &__content {
        width: rem(950);
    }
}

.catalogue {
    &__result {
        display: flex;
        flex-direction: column;
        padding: rem(20);
        margin-bottom: rem(20);

        background-color: rgba(240, 240, 240, 1);
        border-radius: rem(5);
        box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);

        .select2-container {
            width: rem(280)!important;
            height: rem(45)!important;
        }

        .select2-container .select2-selection--single {
            height: 100%;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 0;
        }
    }

    &__search {
        height: rem(40);
        width: rem(436);
        padding: rem(10);
        margin-right: auto;
        border: rem(1) solid #c7c7c7;
        background-color: #dcdcdc;
        height: rem(45);
        border-radius: rem(2);

        .search__input {
            width: 100%;
            height: 100%;
            font-style: normal;
            font-weight: 300;

            &::-webkit-input-placeholder {
                font-style: normal;
                font-weight: 300;
            }

            &::-moz-placeholder {
                font-style: normal;
                font-weight: 300;
            }

            &:-moz-placeholderr {
                font-style: normal;
                font-weight: 300;
            }

            &:-ms-input-placeholde {
                font-style: normal;
                font-weight: 300;
            }
        }

        .search__button {
            width: rem(23);
            height: rem(24);
        }
    }

    &__sort {
        display: flex;
        align-items: center;
		margin-bottom: rem(20);

        p {
            margin: 0;
            margin-right: rem(18);
            color: #979797;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 400;
            letter-spacing: 0.9px;
        }
    }

    &__list {
        position: relative;
        z-index: 2;
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: 100%;
        height: rem(85);
        font-size: rem(24);
    }
}

.multiple {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: auto;
        height: rem(560);
        background-color: $greybg;
    }
}



.load {
    input {
        display: none;
    }

    &__button {
        margin: 0;
        @extend .button;
        @extend .button_grey;
        padding: rem(15) rem(35);
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}









.buy {
    flex-direction: column;

    .popup__content {
        display: flex;
        flex-wrap: wrap;
        width: rem(957);
        padding: rem(20);
        margin-bottom: rem(10);
        padding-bottom: rem(42);
        background-color: #f0f0f0;
    }

    .popup__footer {
        display: flex;
    }

    &__submit {
        @extend .button;
        @extend .button_blue;
        width: rem(397);
        height: rem(65);
        margin-right: rem(23);
        font-size: rem(24);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        dl {
            display: flex;
            margin: 0;

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }

            dt,
            dd {
                margin: 0;
                color: #ffffff;
                font-family: $helvetica;
                font-style: italic;
                font-size: rem(14);
                font-weight: 200;
                letter-spacing: 0.7px;
            }

            dd {
                margin-left: rem(8);
            }
        }
    }

    &__text {
        display: none;
    }

    &__list {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: rem(41);
    }

    &__subscribe {
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: auto;
        margin-right: rem(20);
        color: #0a5c9a;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;

        img {
            width: rem(33);
            height: rem(28);
            margin-right: rem(10);
        }

    }

    &__total {
        display: flex;
        padding: 0;
        margin: 0;
        padding-left: rem(20);

        dt,
        dd {
            margin: 0;
            padding: 0;
            color: #272727;
            font-family: $helvetica;
            font-size: rem(30);
            font-weight: 200;
        }

        dd {
            margin-left: rem(13);
        }
    }

    .expressCard .expressCard__like-icon,
    .expressCard .expressCard__dislike-icon,
    .forecastCard .forecastCard__like-icon,
    .forecastCard .forecastCard__dislike-icon {
        fill: #969696;
    }

    .expressCard .expressCard__like:hover .expressCard__like-icon,
    .expressCard .expressCard__dislike:hover .expressCard__dislike-icon,
    .forecastCard .forecastCard__like:hover .forecastCard__like-icon,
    .forecastCard .forecastCard__dislike:hover .forecastCard__dislike-icon {
        fill: #969696;
    }

    .expressCard .expressCard__comment:hover .expressCard__comment-icon,
    .forecastCard .forecastCard__comment:hover .forecastCard__comment-icon {
        fill: #c8c8c8;
    }

    .expressCard .expressCard__like,
    .expressCard .expressCard__dislike,
    .expressCard .expressCard__like:hover,
    .expressCard .expressCard__dislike:hover,
    .expressCard .expressCard__comment:hover,
    .expressCard .expressCard__comment,
    .forecastCard .forecastCard__like,
    .forecastCard .forecastCard__dislike,
    .forecastCard .forecastCard__like:hover,
    .forecastCard .forecastCard__dislike:hover,
    .forecastCard .forecastCard__comment:hover,
    .forecastCard .forecastCard__comment {
        dt,
        dd {
            color: rgba(79, 79, 79, 1);
        }
    }

    &_all {
        .expressCard,
        .forecastCard {
            display: none;
        }

        .buy__text {
            display: block;
            margin: 0;
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 200;

            span {
                color: #fc8e00;
            }
        }

        .buy__list {
            background-color: $white;
            width: 100%;
            height: rem(150);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.pagination {
    display: flex;

    &__prev {
        position: relative;
        @extend .section-name;
        display: flex;
        align-items: center;
        padding-right: rem(60);
        color: #000f47;

        &::after {
            position: absolute;
            content: '>';
            top: 50%;
            right: rem(26);
            @extend .section-name;
            color: #000f47;
            transform: translateY(-50%);
        }

        .pagination__icon {
            fill: #000f47;
        }
    }

    &__icon {
        fill: $white;
        margin-right: rem(15);
    }

    &__title {
        display: flex;
        align-items: center;
    }
}

.ligue {
    padding-top: rem(54);
    padding-bottom: rem(150);
    @extend .container;

    &__heading {
		display: flex;
		margin-bottom: rem(54);
        padding-left: rem(20);

        .select2-container {
            width: rem(280)!important;
        }
	}

	&__title {
        @extend .section-name;
        display: flex;
        align-items: center;
    }

    .pagination {
        margin-right: auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-left: rem(-10);
        margin-right: rem(-10);
        margin-bottom: rem(-20);
    }

    &__item {
        display: flex;
        width: calc(33.333% - 20px);
        height: rem(140);
        margin: 0 rem(10);
        margin-bottom: rem(20);
        border: rem(2) solid transparent;
        will-change: transform;
        transition: all .3s;
        border-radius: rem(5);
        overflow: hidden;
        cursor: pointer;

        &-content {
            background-color: $white;
            display: flex;
            align-items: center;
            width: 100%;
            padding: rem(15);
            padding-left: rem(30);
            transition: width .3s;
        }

        &-name {
            margin: 0;
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 300;
            letter-spacing: 0.9px;
            transition: font-size .1s;
        }

        &:hover {
            border: rem(2) solid $orangeDark;
        }

        &.active {
            .ligue__item-content {
                width: rem(120);
            }

            .ligue__item-name {
                font-size: 0;
            }

            .ligue__icon {
                margin: 0;
            }

            .ligue__dropdown {
                width: calc(100% - 120px);
                padding: rem(10);
            }
        }
    }

    &__icon {
        width: rem(54);
        height: auto;
        margin-right: rem(32);
        fill: #4f4f4f;
        flex-shrink: 0;
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        width: 0;

        transition: width .3s;
        background-color: #1e2933;

        &-link {
            width: 100%;
            border-radius: rem(5);
            padding: rem(16) rem(20);
            padding-top: rem(18);
            color: #ffffff;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 200;
            text-decoration: none;
            transition: background-color .3s;

            &:not(:last-of-type) {
                margin-bottom: rem(6);
            }

            &:hover {
                background-color: #111d28;
            }
        }
    }

}
