// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.search {
    display: flex;
    padding: rem(15);
    height: calc(100% - 20px);

    background-color: $grey_light;

    &__input {
        width: 0;

        font-family: 'Helvetica Neue';
        font-size: rem(18);
        color: $grey;
        font-style: italic;
        font-weight: 400;
        text-decoration: none;
        text-align: left;

        background-color: transparent;
        border: none;
        outline: none;

        transition: width .8s;

        &::-webkit-input-placeholder {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &::-moz-placeholder {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &:-moz-placeholderr {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &:-ms-input-placeholde {
            font-family: 'Helvetica Neue';
            font-size: rem(18);
            color: $grey;
            font-style: italic;
            font-weight: 400;
            text-decoration: none;
            text-align: left;
        }

        &.active {
            padding: rem(15);
            margin-right: rem(15);
            width: rem(600);
        }
    }

    &__button {
        width: rem(35);
        height: rem(35);
        padding: 0;
        margin-top: auto;

        outline: none;
        border: none;
        outline: none;
        background-color: transparent;
        background-image: url('%=static=%general/search.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.hamburger {
    position: relative;

    display: none;
    width: rem(40);
    height: rem(35);
    margin-right: auto;

    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    span {
        position: absolute;
        left: 0;

        height: rem(3);
        width: 100%;

        background-color: $grey;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: calc(50% - 1px);
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }
}

.title {
    position: relative;

    margin: 0;
    padding-bottom: rem(40);
    font-family: 'Helvetica Neue';
    font-size: rem(48);
    font-weight: 100;
    font-style: italic;
    color: $white;
    text-align: center;

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;

        height: 1px;
        width: 400px;

        background-color: rgba(0, 0, 0, 0.2);
        transform: translateX(-50%);
    }

    &_medium {
        font-size: rem(30);
    }
}

.section-name {
    padding: 0 rem(20);
    margin: 0;
    color: #ffff;
    font-family: $helvetica;
    font-style: italic;
    font-size: rem(30);
    font-weight: 400;
}

.text {
    margin: 0;

    font-family: 'Helvetica Neue';
    font-size: rem(18);
    font-weight: 100;
    color: $pastel_blue;
    text-align: center;
    letter-spacing: 0.04em;
}

.button {
    display: flex;

    &:not(a) {
        display: block;
    }

    justify-content: center;
    align-items: center;
    padding: rem(15) rem(35);

    font-family: 'Helvetica Neue';
    font-size: rem(18);
    font-weight: 100;
    color: $white;
    text-align: center;
    text-decoration: none;
	white-space: nowrap;

    border-radius: rem(2);
    box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);
    outline: none;
    border:none;
    transition: background .3s;



    &_blue {
        background-image: linear-gradient(rgba(0, 192, 255, 1) 0%, rgba(22, 170, 255, 1) 100%);

        &:hover {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }

    &_orange {
        background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
    }

    &_opacity {
        background-color: rgba($white, .3);

        font-family: $helvetica;
        color: rgba(10, 31, 43, 1);

        transition: background-color .3s;

        &:hover {
            background-color: $white;
        }
    }

    &_grey {
        color: #ffffff;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 400;
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: rem(2);
        background-color: #ffffff;
        background-image: linear-gradient(to top, #b0b0b0 0%, #bcbcbc 100%);

        &:hover {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }
}

.popup {
    position: absolute;
    left: 50%;

    display: none;
    padding: rem(10);
    padding-top: rem(25);

    background-color: rgba($black, 0.6);
    border-radius: rem(3);
    transform: translateX(-50%);
    z-index: 999;

    &__title {
        margin: 0;
        margin-bottom: rem(20);
        padding-left: rem(15);

        font-family: $helvetica;
        text-transform: uppercase;
        font-size: rem(18);
        font-weight: 200;
        color: $white;
    }

    &__close {
        position: absolute;
        content: '';
        top: rem(25);
        right: rem(25);

        width: rem(15);
        height: rem(15);
        padding: 0;

        text-indent: -9999px;

        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        transition: transform .5s, background-color .5s;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: rem(-2);
            left: rem(7);

            width: rem(2);
            height: rem(19);
            background-color: $white;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            transform: scale(1.3);

            &::before,
            &::after {
                background-color: $orangeDark;
            }
        }
    }

    &__content {
        display: flex;
        padding: rem(30);

        background-color: $white;
        border-radius: rem(5);
        overflow: hidden;

        form {
            display: flex;
        }
    }

    &__input {
        @extend .input;
    }

    &__button {
        @extend .button;
        @extend .button_blue;
    }

    &__sent {
        display: none;
        margin: 0;
        font-size: rem(14);
        color: $grey;
        font-family: $helvetica;
    }

    &__link {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 200;

        &_big {
            font-size: rem(14);
        }
    }

    &.opened {
        display: flex;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

.overlay.active {
    display: flex;
}

.select2-container {
    border-radius: 2px!important;
}

.select2-selection {
    padding: rem(5) rem(15);

    background-color: transparent!important;
    border: 1px solid rgba(199, 199, 199, 1)!important;
    border-radius: 2px!important;
    outline: none!important;
    cursor: pointer!important;
}

.select2-selection__rendered {
    display: flex!important;
    align-items: center!important;
    height: 100%!important;
    font-family: $helvetica!important;
    font-size: rem(18)!important;
    font-weight: 100!important;
    color: rgba(151, 151, 151, 1)!important;
}

.select2-container--open {
    background-color: #c7c7c7!important;

    .select2-selection__rendered {
        color: #505050!important;
    }

    .select2-selection__arrow {
        &::after {
            transform: rotate(180deg) translateY(50%);
        }
    }
}

.select2-dropdown,
.select2-dropdown li {
    background-color: #c7c7c7!important;
    color: #ffffff;
    border: none!important;
}

.select2-dropdown li {
    padding-left: rem(25);
}

.select2-dropdown li:hover {
    background-color: #878787!important;
    color: #efb415!important;
}

.select2-results {
    padding-bottom: rem(15);
}

.select2-selection__arrow {
    b {
        display: none;
    }

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: rem(10);

        width: rem(18);
        height: rem(12);

        background-image: url('%=static=%general/arrow_grey.png');
        background-size: contain;
        background-repeat: no-repeat;

        transform: translateY(-50%);
    }
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%!important;
}

.input {
    padding: rem(15);

    color: $ashgrey;
    font-family: $helvetica;
    font-size: rem(18);
    font-weight: 200;

    border: rem(1) solid #c7c7c7;
    border-radius: rem(3);
    outline: none;

    &::-webkit-input-placeholder {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &::-moz-placeholder {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &:-moz-placeholderr {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &:-ms-input-placeholde {
        color: $ashgrey;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 200;
    }

    &_transparent {
        color: $white;
        background-color: transparent;
        border: rem(1) solid rgba($white, .5);
    }

    &_opacity {
        opacity: .5;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        letter-spacing: .7px;

        &::-webkit-input-placeholder {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &::-moz-placeholder {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &:-moz-placeholderr {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }

        &:-ms-input-placeholde {
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 400;
            letter-spacing: .7px;
        }
    }
}

.regestration {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: rem(370);
    }

    form {
        flex-direction: column;
    }

    .popup__input {
        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &:last-of-type {
            margin-bottom: rem(30);
        }
    }
}

.login {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: rem(370);
    }

    .popup__button {
        margin-bottom: rem(15);
    }

    .popup__link {
        margin-left: auto;
        margin-bottom: rem(30);

        &_big {
            margin-bottom: 0;
        }
    }

    .popup__input {
        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }

        &:last-of-type {
            margin-bottom: rem(10);
        }
    }
}

.prize {
    flex-direction: column;

    .popup__content {
        padding: 0;
        width: rem(900);
        height: rem(500);
    }

    &__visual {
        width: rem(595);
        height: 100%;
        display: flex;
        flex-direction: column;
        object-fit: cover;
		flex-shrink: 0;
    }

    &__view {
        width: 100%;
        height: rem(395);
        border: rem(10) solid #f0f0f0;
        object-fit: cover;
    }

    &__gallery {
        overflow: hidden;
        height: rem(105);

        img {
            display: block;
            height: rem(105);
            width: rem(145);
            padding-bottom: rem(10);
            object-fit: cover;
        }

        a {
            position: relative;

            img {
                margin: 0;
                filter: grayscale(100%);

				transition: filter 1s;

				&:hover {
					filter: grayscale(0%);
				}
            }
        }

        .slick-slide {
            a {
                outline: none;
            }
        }

        .slick-current {

            a {
                img {
                    filter: grayscale(0%);
                }

                &::after {
                    position: absolute;
                    content: '';
                    bottom: rem(-1);
                    left: 0;

                    width: 100%;
                    height: rem(5);
                    background-color: $orangeDark;
                }
            }
        }

        .slick-next,
        .slick-prev {
            width: rem(20);
            height: rem(40);

            text-indent: -9999px;

            background: #969696!important;
            z-index: 99999;
            transition: background .3s;

            &:hover {
                background: $orangeDark!important;
            }
        }

        .slick-prev {
            left: 0;

            border-radius: 0 rem(20) rem(20) 0;

            &::after {
                position: absolute;
                content: '';
                left: rem(3);
                top: 50%;

                width: rem(8);
                height: rem(13);

                background-image: url('%=static=%general/arrow_slider.png');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        .slick-next {
            right: 0;

            border-radius: rem(20) 0 0 rem(20);

            &::after {
                position: absolute;
                content: '';
                right: rem(3);
                top: 50%;

                width: rem(8);
                height: rem(13);

                background-image: url('%=static=%general/arrow_slider.png');
                background-size: contain;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
        }
    }

    &__desc {
        padding: rem(20);
        padding-right: rem(5);
        overflow-y: auto;

        p {
            margin: 0;

            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 300;
            color: $grey;

            &:not(:last-of-type) {
                margin-bottom: rem(35);
            }
        }
    }
}

.analist {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: rem(900);
        height: rem(500);
        padding: 0;
    }

    &__card {
        display: flex;
        padding: rem(30);
    }

    &__avatar {
        width: rem(100);
        height: rem(100);
        margin-right: rem(30);

        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
    }

    &__name {
        display: flex;
        align-items: center;
        margin-bottom: rem(15);

        h3 {
            margin: 0;
            margin-right: rem(15);

            font-family: $helvetica;
            font-weight: 300;
            color: rgba(79, 79, 79, 1);
            font-size: rem(24);
        }

        .favorites {
            margin-right: rem(20);
        }

        dl {
            display: flex;
            margin: 0;
            padding-top: rem(3);

            dt,
            dd {
                margin: 0;

                font-family: $helvetica;
                font-weight: 200;
                color: $ashgrey;
                font-size: rem(18);
            }

            dd {
                padding-left: rem(5);
            }
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        margin-bottom: rem(15);

        .analist__text {
            &:first-of-type {
                margin-right: rem(16);
            }

            &:nth-of-type(2) {
                margin-right: rem(15);
            }
        }

        .diagramm {
            margin-right: rem(20);
        }
    }

    &__text {
        margin: 0;
        font-family: $helvetica;
        font-weight: 300;
        color: rgba(79, 79, 79, 1);
        font-size: rem(18);
    }

    &__sort {
        position: relative;

        margin-right: rem(25);
        border-radius: rem(5);

        transition: background-color .3s;

        select {
            padding-right: rem(25);

            cursor: pointer;
            border: none;
            outline: none;
            appearance: none;
        }

        &:hover {
            background-color: #ecf7ff !important;
        }

        .select2-selection__rendered {
            font-family: $helvetica!important;
            font-weight: 200!important;
            color: #1a67a1!important;
            font-size: rem(18)!important;
            padding-left: 0!important;
        }

        .select2-selection {
            height: rem(35)!important;
            width: rem(212)!important;
            padding-top: rem(10)!important;
            padding-bottom: rem(10)!important;

            border: none!important;
        }

        .select2-container {
            width: rem(212)!important;
        }

        .select2-selection__arrow {
            right: rem(10)!important;
            top: rem(2)!important;

            height: rem(35)!important;

            &::after {
                right: 0;

                width: rem(15);
                height: rem(10);

                background-image: url('%=static=%general/arrow_blue.png');
            }
        }

        .select2-container--open {
            background-color: #ecf7ff !important;
        }


    }

    &__date {
        margin: 0;

        font-family: $helvetica;
        font-weight: 200;
        color: $ashgrey;
        font-size: rem(18);

        span {
            margin-left: rem(15);
        }
    }

    &__average {
        display: flex;
        flex-shrink: 0;
        margin: 0;

        font-family: $helvetica;
        font-weight: 200;
        color: $ashgrey;
        font-size: rem(18);

        span {
            margin-left: rem(10);
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: rem(25);
            width: rem(20);
            height: rem(20);

            font-family: $helvetica;
            color: $white;
            font-size: rem(16);
            text-decoration: none;

            border-radius: 50%;
            background-color: #b4b4b4;

            transition: background-color .3s;

            &:hover {
                background-color: $orangeDark;
            }

        }
    }

    &__forecasts {
        display: flex;
        flex-direction: column;

        background-color: #f0f0f0;
    }

    &__forecasts-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(10);

        p {
            margin: 0;
            padding-left: rem(20);

            font-family: $helvetica;
            color: $grey;
            font-size: rem(18);
            text-decoration: none;
            font-weight: 200;
        }
    }

    &__forecasts-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: rem(285);
        padding: rem(10);
        padding-top: 0;
    }

    .select2-container {
        height: rem(40)!important;
    }

    .select2-selection,
    .select2-selection__arrow {
        height: 100%!important;
    }

    .select2-selection {
        width: rem(300)!important;
    }
}

.dropdown_blue {
    padding-top: rem(10)!important;
    background-color: #ecf7ff !important;

    li {
        color: #1a67a1!important;
        background-color: #ecf7ff !important;
        transition: color .3s;

        &:hover {
            background-color: #ecf7ff !important;

        }
    }
}

.favorites {

    &,
    &__custom {
        display: inline-block;
	    vertical-align: middle;
    }

    &__checkbox {
        display: none;

        &:checked + .favorites__custom {
            background-image: url('%=static=%general/star_active.png');
        }
    }

    &__custom {
        position: relative;

        display: block;
        width: rem(22);
        height: rem(22);

        background-image: url('%=static=%general/star.png');
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

.basket-table {
    position: fixed;

    top: rem(198);
    right: 0;

    display: flex;
    flex-direction: column;
    padding: rem(10);
    padding-right: 0;
    padding-top: rem(20);

    background-color: rgba(240, 240, 240, 1);
    border-radius: rem(5) 0 0 rem(5);
    box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);

    z-index: 5;

    &__title {
        margin: 0;
        margin-bottom: rem(15);
        padding-left: rem(10);

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 300;
        color: rgba(79, 79, 79, 1);
        text-align: left;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: rem(15);
        margin-bottom: rem(10);
        width: rem(90);

        background-color: rgba(255, 255, 255, 1);
        border-radius: rem(3) 0 0 rem(3);
        box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);
    }

    &__desc {
        margin: 0;
        margin-bottom: rem(5);

        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 300;
        color: rgba(180, 180, 180, 1);
        text-align: left;
    }

    &__count,
    &__total {
        margin: 0;
        font-family: $helvetica;
        font-size: rem(16);
        font-weight: 300;
        color: rgba(10, 92, 154, 1);
        text-align: left;
    }

    &__count {
        margin-bottom: rem(15);
    }

    &__link {
        position: relative;

        @extend .button;
        @extend .button_orange;

        height: rem(25);

        text-align: left;

        border-radius: rem(3) 0 0 rem(3);

        &::before {
            position: absolute;
            content: '';
            top: rem(8);
            left: rem(10);

            height: rem(14);
            width: rem(18);
            background-image: url('%=static=%general/arrow_double_white.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.radio {
    display: flex;
    align-items: center;
    height: rem(20);

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__text {
        position: relative;
        padding: 0 0 0 25px;
        margin: 0;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        color: rgba(255, 255, 255, .3);
        text-align: left;

        cursor: pointer;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: rem(-4);

            width: rem(20);
            height: rem(20);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .3);
        }

        &:after {
            content: '';
            position: absolute;
            left: rem(4);
            top: 0;

            width: rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);

            transition: background-color .3s;
        }
    }

    input:checked+.radio__text {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.checkbox {
    display: flex;
    align-items: center;
    height: rem(20);

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__text {
        position: relative;
        padding: 0 0 0 25px;
        margin: 0;

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        color: rgba(255, 255, 255, .3);
        text-align: left;

        cursor: pointer;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: rem(-3);

            width: rem(20);
            height: rem(20);
            border-radius: rem(2);
            background-color: rgba(255, 255, 255, .3);
        }

        &:after {
            content: '';
            position: absolute;
            left: rem(4);
            top: rem(-7);

            width: rem(19);
            height: rem(22);
            border-radius: 50%;
            background-image: url('%=static=%general/tick.png');
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;

            transition: opacity .3s;
        }
    }

    input:checked+.checkbox__text {
        color: $white;

        &:after {
            opacity: 1;
        }
    }
}


.catalogue {
	display: flex;
    justify-content: space-between;

    &__section {
        display: flex;
        flex-wrap: wrap;
        padding: rem(30) 0;

        border-top: rem(1) solid rgba($white, .5);
    }

	&__title {
        margin: 0;

        font-family: $helvetica;
        font-size: rem(30);
        font-weight: 100;
        font-style: italic;
        color: $white;
        text-align: left;

        padding-left: rem(20);
        padding-bottom: rem(65);
	}

    &__filter {
        width: rem(263);

        .radio,
        .checkbox {
            width: 100%;

            &:not(:last-of-type) {
                margin-bottom: rem(10);
            }
        }
    }

    &__content {
        width: rem(950);
    }

    &__subtitle {
        width: 100%;
        margin: 0;
        margin-bottom: rem(15);

        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 100;
        font-style: italic;
        color: $white;
    }

    &__input {
        position: relative;

        input {
            @extend .input;
            @extend .input_transparent;

            width: rem(113);
            height: rem(40);
            padding-left: rem(51);

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }

        &:first-of-type {
            margin-right: auto;

            &::before {
                position: absolute;
                content: 'от';
                left: rem(15);
                top: 50%;

                font-family: $helvetica;
                font-size: rem(16);
                font-weight: 100;
                color: rgba($white, .5);

                transform: translateY(-50%);
            }

            &::after {
                position: absolute;
                content: '';
                right: rem(-30);
                top: 50%;

                height: rem(1);
                width: rem(23);
                background-color: rgba($white, .5);

                transform: translateY(-50%);
            }
        }

        &:last-of-type {
            &::before {
                position: absolute;
                content: 'до';
                left: rem(15);
                top: 50%;

                font-family: $helvetica;
                font-size: rem(16);
                font-weight: 100;
                color: rgba($white, .5);

                transform: translateY(-50%);
            }
        }
    }

	&__ratio {
		display: flex;
	    width: 100%;
		margin-bottom: rem(40);
	}

    &__sport {
        display: flex;
        width: 100%;
        flex-direction: column;

        .checkbox {
            position: relative;

            &__button {
                position: absolute;
                content: '';
                right: 0;
                top: 50%;

                width: rem(13);
                height: rem(10);

                background-image: url('%=static=%general/triangle_white.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
                border: none;
                padding: 0;
                outline: none;

                transform: translateY(-50%);
            }

            &.opened {
                .checkbox__button {
                    transform: rotate(180deg);
                }

                & + .catalogue__sport-details {
                    display: flex;
                }

            }
        }
    }

    &__sport-details {
        display: none;
        max-height: rem(345);
        flex-direction: column;
        padding: rem(25) 0;
        padding-top: rem(20);

        overflow: hidden;

        .mCSB_scrollTools {
            left: 10px!important;
            right: auto!important;

            width: 10px!important;

            background-color: rgba(255, 255, 255, .3)!important;
            border-radius: 2px!important;
        }

        .mCSB_inside > .mCSB_container {
            margin-left: 30px!important;
            margin-right: 0!important;
            padding-top: 4px!important;
        }

        .mCSB_dragger {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        .mCSB_dragger_bar {
            background-color: rgba(255, 255, 255, 1)!important;
            border-radius: 2px!important;
        }
    }

    &__all-sport {
        @extend .button;
        @extend .button_opacity;

        height: rem(40);
        width: 100%;
        padding-left: rem(25);
        padding-right: rem(25);
        margin-top: rem(25);
        margin-bottom: rem(20);
    }

    &__all-remove,
    &__all-add {
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 300;
        color: rgba($white, .5);
        text-align: left;

        transition: color .3s;

        &:hover {
            color: $white;
        }
    }

    &__all-remove {
        margin-bottom: rem(10);
    }

    &__all-add {
        margin-bottom: rem(30);
    }
}

.catalogue {
    &__result {
        display: flex;
        flex-direction: column;
        padding: rem(20);
        margin-bottom: rem(20);

        background-color: rgba(240, 240, 240, 1);
        border-radius: rem(5);
        box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);

        .select2-container {
            width: rem(280)!important;
            height: rem(45)!important;
        }

        .select2-container .select2-selection--single {
            height: 100%;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: calc(50% - 13px);
        }
    }

    &__search {
        height: rem(40);
        width: rem(436);
        padding: rem(10);
        margin-right: auto;
        border: rem(1) solid #c7c7c7;
        background-color: #dcdcdc;
        height: rem(45);
        border-radius: rem(2);

        .search__input {
            width: 100%;
            height: 100%;
            font-style: normal;
            font-weight: 300;

            &::-webkit-input-placeholder {
                font-style: normal;
                font-weight: 300;
            }

            &::-moz-placeholder {
                font-style: normal;
                font-weight: 300;
            }

            &:-moz-placeholderr {
                font-style: normal;
                font-weight: 300;
            }

            &:-ms-input-placeholde {
                font-style: normal;
                font-weight: 300;
            }
        }

        .search__button {
            width: rem(23);
            height: rem(24);
        }
    }

    &__sort {
        display: flex;
        align-items: center;
		margin-bottom: rem(20);

        p {
            margin: 0;
            margin-right: rem(18);
            color: #979797;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 400;
            letter-spacing: 0.9px;
        }
    }

    &__list {
        position: relative;
        z-index: 2;
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: 100%;
        height: rem(85);
        font-size: rem(24);
    }
}

.multiple {
    flex-direction: column;

    .popup__content {
        flex-direction: column;
        width: auto;
        height: rem(560);
        background-color: $greybg;
    }
}

.forecastDetail {
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
		padding: 0 rem(20);
        padding-bottom: rem(50);
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__number {
        margin: 0;
        margin-bottom: rem(12);
        color: #ffffff;
        font-family: $helvetica;
        font-size: rem(30);
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    &__time {
        color: #b6c1c2;
        font-family: $helvetica;
        font-size: rem(14);
        font-weight: 400;
        margin: 0;
    }

    &__count {
        margin-left: rem(15);
        color: #910048;
        letter-spacing: 0.7px;
        line-height: rem(24);
        font-style: italic;
    }

    &__analist {
        display: flex;
        align-items: center;

        p {
            margin: 0;
            margin-right: rem(15);
            color: #ffffff;
            font-family: $helvetica;
            font-size: rem(30);
            font-weight: 400;
            font-style: italic;
        }

        img {
            margin-right: rem(18);
            width: rem(75);
            height: rem(75);
            border-radius: 50%;
        }

        a {
            margin-right: rem(20);
            color: #000f47;
            font-family: $helvetica;
            font-size: rem(30);
            font-weight: 400;
            font-style: italic;
        }

        .diagramm {
            align-items: center;
        }

        .diagramm p {
            padding-top: rem(4);
            font-size: rem(30);
            font-style: italic;
        }
    }

    &__wrap {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: rem(10);
        }
    }

    &__forecast {
        display: flex;
        border-radius: rem(3);
        overflow: hidden;
        box-shadow: 0 rem(3) rem(3) 0 rgba(0, 6, 26, 0.1);
        position: relative;
        z-index: 2;
    }

    &__sport-league {
        display: flex;
        flex-direction: column;
        padding: rem(30) rem(20);
        margin-right: rem(2);

        background-color: $white;

        .forecastDetail__wrap {
            height: rem(40);
            align-items: center;
        }
    }

    &__tooltip:not(:last-of-type) {
        margin-right: rem(10);
    }

    &__sport-icon,
    &__league-icon {
        fill: $ashgrey;
        cursor: pointer;

        transition: fill .3s;
    }

    &__sport-icon:hover,
    &__league-icon:hover {
        fill: $orangeDark;
    }

    &__comand {
        margin: 0;
        height: rem(40);
        display: flex;
        align-items: center;
        color: #4f4f4f;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 400;
    }

    &__match-details {
        display: flex;
        width: rem(555);
        flex-direction: column;
        align-items: flex-start;
        padding: rem(30) rem(20);
        margin-right: rem(2);

        background-color: $white;

        .forecastDetail__wrap {
            width: 100%;

            .forecastDetail__comand {
                width: calc(50% - 20px);
                color: #4f4f4f;
                font-family: $helvetica;
                font-size: rem(24);
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                min-width: 0;

                img {
                    width: rem(36);
                    margin-right: rem(5);
                    object-fit: cover;
                }

                &:nth-of-type(2) {
                    position: relative;
                    padding-left: 40px;

                    &::before {
                        position: absolute;
                        content: '—';
                        left: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: rem(40);
                        height: 100%;
                        opacity: 0.5;
                        color: #4f4f4f;
                        font-family: $helvetica;
                    }
                }
            }
        }
    }

    &__result {
        display: flex;
        width: rem(450);
        flex-direction: column;
        align-items: flex-start;
        padding: rem(30) rem(20);
        margin-right: rem(2);
        background-color: $white;

        .forecastDetail__wrap {
            justify-content: flex-start;
            align-items: center;
            height: rem(40);
            width: 100%;

            dl {
                margin: 0;
                padding: 0;
                display: flex;

                dt,
                dd {
                    margin: 0;
                    padding: 0;
                    color: #4f4f4f;
                    font-family: $helvetica;
                    font-size: rem(24);
                    font-weight: 400;
                }

                dt {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    min-width: 0;
                }

                dd {
                    padding-left: rem(10);
                }
            }
        }
    }

    &__result-coefficient {
        margin: 0;
        margin-left: rem(15);
        color: #969696;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 400;
    }

    &__coefficient {
        display: flex;
        align-items: center;
        width: auto;
        padding: rem(30) rem(20);
        background-color: $white;

        p {
            margin: 0;
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(40);
            font-weight: 400;
        }
    }

    &__additional {
        position: relative;
        z-index: 1;
        display: flex;
        padding: rem(30);
        padding-top: rem(222);
        justify-content: space-between;
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: rem(60);
        margin-top: rem(-198);
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: rem(3);
        background-color: #f0f0f0;
    }

    &__additional-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__additional-buttons {
        display: flex;
        flex-direction: column;
    }
    &__track,
    &__bet {
        width: rem(210);
        height: rem(50);
        @extend .button;
        @extend .button_grey;
    }

    &__track {
        margin-bottom: rem(12);

        &.active {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }

    &__desc {
        margin: 0;
        width: rem(615);

        p {
            margin: 0;
            margin-bottom: rem(10);
            max-height: rem(80);
            overflow: hidden;
            color: #777777;
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 300;
        }

        &.opened {
            p {
                max-height: none;
            }

            .readMore {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    &__agree,
    &__disagree {
        width: rem(255);
        height: rem(50);
        @extend .button;
        @extend .button_blue;
        padding: rem(5) rem(15);

        span {
            margin-left: auto;
        }

        &.active {
            background-image: linear-gradient(rgba(255, 204, 0, 1) 0%, rgba(252, 142, 0, 1) 100%);
        }
    }

    &__agree {
        margin-bottom: rem(12);
    }

    &__like-icon,
    &__dislike-icon {
        fill: #ffffff;
        margin-right: rem(10);
    }

    &__dislike-icon {
        transform: rotate(180deg)  scale(-1, 1);
    }

    &__comments {
        margin-bottom: rem(50);
    }

    &__comments-header {
        display: flex;
        align-items: center;
        padding: 0 rem(25);
        padding-bottom: rem(25);
        border-bottom: rem(1) solid $white;

        .select2-container {
            width: rem(280)!important;
            height: rem(40)!important;
            margin-right: rem(20);

            .select2-selection--single {
                height: 100%!important;
            }

            .select2-selection__rendered {
                color: $white!important;
            }

            .select2-selection__arrow {
                top: 0!important;

                &::after {
                    background-image: url('%=static=%general/arrow_white.png');
                }
            }
        }
    }

    &__comments-title {
        margin: 0;
        margin-right: auto;

        font-family: $helvetica;
        font-size: rem(30);
        font-weight: 100;
        font-style: italic;
        color: $white;
        text-align: left;

        span {
            opacity: .5;
        }
    }

    &__comments-sort {
        @extend .button;
        @extend .button_opacity;

        height: rem(40);
        width: rem(280);
        padding-left: rem(25);
        padding-right: rem(25);
    }

    &__comments-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: rem(50);

		.comment:not(:last-of-type) {
			margin-bottom: rem(10);
		}
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: calc(100% - 40px);
        margin: 0 auto;
        height: rem(85);
        font-size: rem(24);
    }

    &__buy {
        @extend .button;
        @extend .button_orange;
        flex-direction: column;
        height: 100%;
        width: rem(215);

        span {
            color: #282828;
            font-family: $helvetica;
            font-size: rem(18);
            font-weight: 300;
        }
    }

    &__buy-desc {
        width: rem(615);
        padding-top: rem(15);
        margin: 0;
        color: #777;
        font-size: rem(14);

        a {
            color: #0a5c9a;
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 300;
        }
    }

    &:not(.forecastDetail_paid) {
        .forecastDetail__agree,
        .forecastDetail__disagree {
            color: #969696;
            font-family: "Helvetica Neue";
            font-size: 1.125rem;
            font-weight: 300;
            box-shadow: 0 3px 3px rgba(0,6,26,.1);
            border-radius: 2px;
            background-color: #fff;
            background-image: none;
        }

        .forecastDetail__like-icon,
        .forecastDetail__dislike-icon {
             fill: #b4b4b4;
         }

         .forecastDetail__comments-header {
             border-bottom: none;
         }

         .forecastDetail__track,
         .forecastDetail__bet,
         .forecastDetail__desc,
         .forecastDetail__comments-title,
         .forecastDetail__comments-sort,
         .forecastDetail__comments-header .select2,
         .forecastDetail__comments-list,
         .forecastDetail__load {
             display: none;
         }
    }

    &__buy-title {
        margin: 0;
        font-family:$helvetica;
        color: #fff;
        font-style: italic;
        font-size: 1.5rem;
        letter-spacing: 1.2px;

        span {
            color: #9eb7bd;
        }
    }



    &_paid {
        .forecastDetail__buy,
        .forecastDetail__buy-desc,
        .forecastDetail__buy-title {
            display: none;
        }
    }


}



.analistRating {

    @extend .container;
    padding-top: rem(65);
    padding-bottom: rem(115);

    &__title  {
        @extend .section-name;
        margin-bottom: rem(10);
    }

    &__filter {
        display: flex;
        justify-content: flex-end;

        input {
            display: none;
        }
    }

    &__filter-item {
        display: flex;

        padding: rem(20) rem(25) rem(35);
        border-radius: rem(5) rem(5) 0 0;
        cursor: pointer;

        p {
            margin: 0;
            font-family: $helvetica;
            font-size: 1.125rem;
            color: #fff;
            font-style: italic;
            font-weight: 300;
            text-decoration: none;
            text-align: center;
            opacity: .5;
            transition: opacity .3s;
        }

        &.active {
            background-color: #f0f0f0;

            p {
                color: #747474;
                opacity: 1;
            }
        }

        &:hover {
            p {
                opacity: 1;
            }
        }
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: 100%;
        height: rem(85);
        font-size: rem(24);
    }
}

.rating {
    width: 61.0625rem;
    flex-direction: column;

    .popup__content {
        display: flex;
        flex-direction: column;
        padding: rem(30);
        background-color: #fff;
        border-radius: rem(5);
        overflow: hidden;
        max-height: rem(450);
        border-radius: rem(5) rem(5) 0 0;

        p {
            margin: 0;
            color: #515151;
            font-style: italic;
            font-size: rem(16);
            font-weight: 400;
            line-height: rem(23);
        }
    }

    .popup__footer {
        background-color: #f0f0f0;
        padding: rem(40) rem(30);
        box-shadow: inset 0 0 10px rgba(0,0,0,.1);
        border-radius: 0 0 rem(5) rem(5);
    }

    .popup__footer p, .rating p.rating__formula {
        margin: 0;
        font-family: $helvetica;
        font-weight: 400;
    }

    p.rating__formula {
        display: flex;
        align-items: center;
        margin-bottom: 2.1875rem;
        font-style: italic;
        color: #b4b4b4;
        font-size: 1rem;
    }

    .popup__content p:not(:last-of-type) {
        margin-bottom: rem(25);
    }
}

.personalArea {
	@extend .container;
    padding-top: rem(60);
    padding-bottom: rem(260);

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 40px);
        margin-left: rem(-20);
        margin-right: rem(-20);
    }

    &__item {
        display: flex;
        text-decoration: none;
        padding: rem(35) rem(40);
        width: calc(50% - 40px);
        margin: 0 rem(20);
        align-items: center;
        margin-bottom: rem(15);
        border-radius: 10px;
        transition: background-color .3s;

        &:hover {
            background-color: #1e2933;

            .personalArea__item-title,
            .personalArea__item-title p,
            .personalArea__item-title .diagramm p,
            .personalArea__item-title span {
                color: #ffba00;
            }

            .personalArea__item-desc {
                color: #fff;
            }

            .personalArea__item-title svg .border {
                stroke: #7f7f7f;
            }
        }

        &-icon {
            margin-right: rem(30);
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-title {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            margin-bottom: rem(10);
            font-size: rem(30);
            font-family: $helvetica;
            letter-spacing: 1.5px;
            font-weight: 300;
            letter-spacing: 1.5px;
            color: #fff;

            p {
                margin: 0;
                color: #fff;
            }

            span {
                font-family: $helvetica;
				margin-left: rem(10);
			    color: #afccc8;
                letter-spacing: 1.5px;
				transition: color .3s;
            }
        }

        .diagramm p {
            color: #afccc8;
            font-family: $helvetica;
            font-size: rem(30);
            font-weight: 300;
            transition: color .3s;
        }

        &-desc {
            margin: 0;
            font-family: $helvetica;
            opacity: .8;
            color: #000;
            font-size: rem(18);
            font-weight: 400;
            transition: color .3s;
        }
    }

    .diagramm svg .border {
        stroke: #334344;
        transition: stroke .3s;
    }
}

.personalData {
    @extend .container;
    padding-top: rem(65);
    padding-bottom: rem(210);

    &__heading {
        display: flex;
        margin-bottom: rem(65);
        padding: 0 rem(20);
    }

    &__title,
    &__date,
    &__id {
        margin: 0;
        color: #fff;
        font-family: $helvetica;
        font-style: italic;
        font-size: rem(30);
        font-weight: 300;
        letter-spacing: 1.5px;
    }

    &__title {
        margin-right: rem(50);
    }

    &__id,
    &__date {
        opacity: .5;
    }

    &__id {
        margin-right: rem(50);
    }

    &__avatar,
    &__card,
    &__content {
        display: flex;
    }

    &__card {
        flex-wrap: wrap;
        padding: 1.875rem;
        box-shadow: 0 rem(3) rem(3) rgba(0,6,26,.1);
        border-radius: rem(5);
        background-color: #f0f0f0;
    }

    &__avatar,
    &__card,
    &__content {
        display: flex;
    }

    &__avatar {
        flex-direction: column;
        margin-right: rem(30);
        margin-bottom: rem(30);

        img {
            width: rem(215);
            height: rem(215);
            object-fit: cover;
            margin-bottom: rem(10);
        }
    }

    &__load {
        width: rem(215);
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: rem(30);
        margin-bottom: rem(30);
        box-shadow: 0 rem(3) rem(3) rgba(0,6,26,.1);
        border-radius: rem(2);
        background-color: #fff;
    }

    &__info-item:not(:last-of-type),
    &__pass-input:not(:last-of-type) {
        margin-bottom: rem(10);
    }

    &__info-item {
        display: flex;
        align-items: center;
    }

    &__text {
        width: rem(75);
        margin: 0;
        margin-right: rem(25);
        color: #505050;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 400;
        letter-spacing: .9px;
    }

    &__input {
        @extend .input;
        width: rem(320);
        height: rem(45);
        margin-right: rem(15);
    }

    &__tip {
        margin: 0;
        color: #969696;
        font-family: $helvetica;
        font-size: rem(12);
        font-weight: 300;
        letter-spacing: .6px;
    }

    &__save {
        @extend .button;
        @extend .button_blue;
        width: 100%;
    }

    &__pass {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        margin-left: rem(30);
        width: rem(207);;
        padding-top: rem(15);
    }

    &__changepass {
        position: relative;
        text-decoration: none;
        color: #fff;
        font-family: $helvetica;
        font-size: rem(18);
        font-weight: 400;
        padding-left: rem(30);
        padding-right: rem(15);
        margin-bottom: rem(22);

        &_opened {
            &.personalData__changepass_opened::after {
                transform: translateY(-50%) rotate(0);
            }
        }
    }

    &__changepass::after,
    &__changepass::before {
        position: absolute;
        content: '';
        top: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__changepass::before {
        left: 0;
        transform: translateY(-50%);
        width: rem(16);
        height: rem(20);
        background-image: url('%=static=%general/lock.png');
    }

    &__changepass::after {
        right: 0;
        width: rem(13);
        height: rem(10);
        background-image: url('%=static=%general/triangle_white.png');
        transform: translateY(-50%) rotate(180deg);
    }

    &__pass-form {
        display: none;

        &.opened {
            display: block;
        }
    }

    &__pass-input {
        width: 100%;

        @extend .input;
        @extend .input_opacity;
        @extend .input_transparent;

        &:last-of-type {
            margin-bottom: rem(20);
        }
    }

    &__pass-btn {
        @extend .button;
        @extend .button_opacity;
        width: 100%;
        padding: rem(15) rem(25);
    }
}

.load {
    input {
        display: none;
    }

    &__button {
        @extend .button;
        @extend .button_grey;
        padding: rem(15) rem(35);
        width: 100%;
        height: 100%;
    }
}
