.matchCard {
    position: relative;
    padding-top: rem(54);
    padding-bottom: rem(150);
    @extend .container;

    &__heading {
		display: flex;
		margin-bottom: rem(54);
        padding-left: rem(20);

        .select2-container {
            width: rem(280)!important;
        }
	}

	&__title {
        @extend .section-name;
        display: flex;
        align-items: center;
    }

    .pagination {
        margin-right: auto;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;

        &-heading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
            height: rem(104);
        }
    }

    &__commands {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc(50% - 1px);
        padding: rem(22) rem(30);
        border-radius: rem(5) 0 0 rem(5);
        background-color: $white;
    }

    &__match-info {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(50% - 1px);
        padding: rem(22) rem(30);
        border-radius: 0 rem(5) rem(5) 0;
        background-color: $white;
    }

    &__command {
        display: flex;
        align-items: center;
        margin: 0;
        color: #4f4f4f;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 300;
        line-height: rem(28);

        img {
            height: 100%;
            width: auto;
            margin-right: rem(15);
        }

        &:not(:last-of-type) {
            position: relative;
            margin-right: rem(43);

            &::after {
                position: absolute;
                content: '-';
                right: rem(-27);
                top: 0;
            }
        }
    }

    &__time {
        margin: 0;
        margin-bottom: rem(9);
        color: #4f4f4f;
        font-family: $helvetica;
        font-size: rem(24);
        font-weight: 300;
        line-height: rem(28);

        span {
            color: #d71977;
        }
    }

    &__place {
        margin: 0;
        color: #969696;
        font-family: $helvetica;
        font-style: italic;
        font-size: rem(14);
        font-weight: 400;
        line-height: rem(24);
    }

    &__info-data {
        padding: 0 rem(20);
        padding-top: rem(2);
    }

    &__info-tip {
        margin: 0;
        padding-top: rem(129);
        padding-bottom: rem(25);
        text-align: center;
        color: #959595;
        font-family: $helvetica;
        font-style: italic;
        font-size: rem(18);
        font-weight: 300;
        line-height: rem(28);
        background-color: #e5e5e5;
    }

    &__info-history {
        padding: rem(46) rem(35);
        padding-top: rem(40);
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: rem(20);
        box-shadow: 0 rem(3) rem(3) rgba(0, 6, 26, 0.1);
        border-radius: 0 0 rem(3) rem(3);
        background-color: #f0f0f0;
    }

    &__history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: rem(332);

        &-name {
            position: relative;
            width: 100%;
            margin: 0;
            padding-bottom: rem(20);
            margin-bottom: rem(17);
            color: #4f4f4f;
            font-family: $helvetica;
            font-size: rem(24);
            font-weight: 300;
            line-height: rem(28);
            text-align: center;

            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: rem(1);
                background-color: #d2d2d2;
            }
        }

        &-result {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-of-type) {
                margin-bottom: rem(4);
            }

            &_loss {
                .matchCard__history-score {
                    background-color: #ffa3a3;
                }
            }

            &_win {
                .matchCard__history-score {
                    background-color: #9bff5e;
                }
            }

            &_draw {
                .matchCard__history-score {
                    background-color: #d2d2d2;
                }
            }
        }

        &-command {
            width: calc(50% - 34px);
            margin: 0;
            color: #777777;
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 300;
            line-height: rem(20);

            &:first-of-type {
                margin-right: rem(12);
                text-align: right;
            }

            &:last-of-type {
                margin-left: rem(12);
                text-align: left;
            }
        }

        &-score {
            width: rem(44);
            margin: 0;
            padding: rem(8);
            color: #505050;
            font-family: $helvetica;
            font-size: rem(14);
            font-weight: 500;
            line-height: rem(20);
            border-radius: rem(5);
        }
    }

    &__links {
        display: flex;
        padding: 0 rem(20);
        margin-bottom: rem(101);
    }

    &__create {

        @extend .button;
        @extend .button_blue;
        width: calc(35% - 10px);
        height: rem(85);
        margin-right: rem(20);
    }

    &__show {
        @extend .button;
        @extend .button_orange;
        width: calc(65% - 10px);
        height: rem(85);
    }

    &__comments {
        margin-bottom: rem(50);
    }

    &__comments-header {
        display: flex;
        align-items: center;
        padding: 0 rem(25);
        padding-bottom: rem(25);
        border-bottom: rem(1) solid $white;

        .select2-container {
            width: rem(280)!important;
            height: rem(40)!important;
            margin-right: rem(20);

            .select2-selection--single {
                height: 100%!important;
            }

            .select2-selection__rendered {
                color: $white!important;
            }

            .select2-selection__arrow {
                top: 0!important;

                &::after {
                    background-image: url('%=static=%general/arrow_white.png');
                }
            }
        }
    }

    &__comments-title {
        margin: 0;
        margin-right: auto;

        font-family: $helvetica;
        font-size: rem(30);
        font-weight: 100;
        font-style: italic;
        color: $white;
        text-align: left;

        span {
            opacity: .5;
        }
    }

    &__comments-sort {
        @extend .button;
        @extend .button_opacity;

        height: rem(40);
        width: rem(280);
        padding-left: rem(25);
        padding-right: rem(25);
    }

    &__comments-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: rem(50);

		.comment:not(:last-of-type) {
			margin-bottom: rem(10);
		}
    }

    &__load {
        @extend .button;
        @extend .button_blue;
        width: calc(100% - 40px);
        margin: 0 auto;
        height: rem(85);
        font-size: rem(24);
    }
}
