<footer role="contentinfo" class="footer">
    <div class="footer__content">
        <a href="" class="footer__nav">Опроекте</a>
        <a href="" class="footer__nav">Подписки</a>
        <a href="" class="footer__nav">Форум</a>
        <a href="" class="footer__social">
            {{Icon iconName='fb' className='footer__icon footer__icon_fb' iconWidth='30' iconHeight='30'}}
        </a>
        <a href="" class="footer__social">
            {{Icon iconName='vk' className='footer__icon footer__icon_vk' iconWidth='30' iconHeight='30'}}
        </a>
        <a href="" class="footer__social">
            {{Icon iconName='ok' className='footer__icon footer__icon_ok' iconWidth='30' iconHeight='30'}}
        </a>
        <a href="" class="footer__social">
            {{Icon iconName='insta' className='footer__icon footer__icon_insta' iconWidth='30' iconHeight='30'}}
        </a>
        <p class="footer__text">- Присоединяйтесь</p>
        <div class="footer__copyright">
            <p>c 2009г © ООО "Капперум"</p>
            <span>Сайт разработан Samborsky.ru </span>
        </div>
    </div>

    <section class="popup regestration js-popup">
        <h3 class="popup__title">Регистрация</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <form action="">
                <input class="popup__input" type="email" placeholder="E-mail">
                <input class="popup__input" type="text" placeholder="Никнейм">
                <input class="popup__input" type="password" placeholder="Придумайте пароль">
                <input class="popup__input" type="password" placeholder="Повторите пароль">
                <button class="popup__button" type="submit">Зарегестрироваться</button>
            </form>
            <p class="popup__sent">Регистрация прошла успешно! К вам на e-mail отправлено сообщение с подтверждением регистрации пройдите по ссылки в указанном письме для верификации</p>
        </div>
    </section>
    <section class="popup login js-popup">
        <h3 class="popup__title">Вход</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <input class="popup__input" type="email" placeholder="E-mail">
            <input class="popup__input" type="password" placeholder="Пароль">
            <a class="popup__link" href="javascript:void(0);">Забыли пароль</a>
            <button class="popup__button" type="submit">Войти</button>
            <a class="popup__link popup__link_big" href="javascript:void(0);">Регестрация</a>
        </div>
    </section>
    <section class="popup prize js-popup">
        <h3 class="popup__title">Приз за лучшую аналитику по результатам февраля 2018</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <div class="prize__visual">
                <img src="%=static=%img/general/prize.jpg" alt="" class="prize__view">
                <div class="prize__gallery">
                    <a href="javascript:void(0);">
                        <img src="%=static=%img/general/prize.jpg" alt="">
                    </a>
                    <a  class="active" href="javascript:void(0);">
                        <img src="%=static=%img/general/prize2.jpg" alt="">
                    </a>
                    <a href="javascript:void(0);">
                        <img src="%=static=%img/general/prize.jpg" alt="">
                    </a>
                    <a href="javascript:void(0);">
                        <img src="%=static=%img/general/prize2.jpg" alt="">
                    </a>
                    <a href="javascript:void(0);">
                        <img src="%=static=%img/general/prize.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="prize__desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus accusamus quam quisquam natus optio laudantium aliquid ea atque, magni expedita et minus sint, distinctio ducimus quibusdam possimus eligendi voluptatem quidem!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora deleniti facere maiores voluptatibus possimus eaque, ipsum atque earum, sed aut molestias quaerat nulla recusandae. Unde fuga, libero atque architecto veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint maiores reiciendis voluptatum dicta, officia soluta modi maxime, alias ipsam architecto provident quam sapiente aperiam ullam, itaque accusamus saepe quasi molestias.</p>
            </div>
        </div>
    </section>
    <section class="popup analist js-popup">
        <h3 class="popup__title">Карточка аналитика</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <section class="analist__card">
                <img src="%=static=%img/general/analist.jpg" alt="" class="analist__avatar">
                <div class="analist__info">
                    <div class="analist__name">
                        <h3>Лорд Воландеморт</h3>
                        <label class="favorites">
                            <input class="favorites__checkbox" name="favorites__checkbox"  type="checkbox">
                            <span class="favorites__custom"></span>
                        </label>
                        <dl>
                            <dt>ID:</dt>
                            <dd>0004456</dd>
                        </dl>
                    </div>
                    <div class="analist__rating">
                        <p class="analist__text">Рейтинг по:</p>
                        <div class="analist__sort">
                            <select class="analist__select"  name="analist__sort" id="">
                                <option value="all">Всем видам спорта</option>
                                <option value="football">Футбол</option>
                            </select>
                        </div>
                        {{> diagramm/diagramm diagramm.orangebig}}
                        <p class="analist__text"><span>12</span>-ый из <span>15999</span></p>
                        <p class="analist__average"><a href="javascript:void(0);">i</a>СрК: <span>2.5</span></p>
                    </div>
                    <p class="analist__date">
                        Регистрация: <span>23.06.2017</span>
                    </p>
                </div>
            </section>
            <section class="analist__forecasts">
                <div class="analist__forecasts-heading">
                    <p>История прогнозов</p>
                    <select class="select" name="sorting" id="">
                        <option value="">Сортировать по дате</option>
                        <option value="">Сортировать по настроению</option>
                    </select>
                </div>
                <div class="analist__forecasts-list">
                    {{> forecast/forecast}}
                    <article class="forecast forecast_true">
                        <div class="forecast__content">
                            <div class="forecast__result">
                               <p class="forecast__status">
                                   {{Icon iconName='true' className='forecast__status-icon' iconWidth='25' iconHeight='25'}}
                                   Верно
                               </p>
                                <span>Свой прогноз</span>
                            </div>
                            <div class="forecast__main">
                               <div class="forecast__sport">
                                   {{Icon iconName='box' className='forecast__icon' iconWidth='30' iconHeight='30'}}
                               </div>
                                <div class="forecast__match">
                                    <p class="forecast__comands">
                                        <span>Чикаго Булс</span> - <span>Манчестер Юнайтед</span>
                                    </p>
                                    <div class="forecast__time">
                                        <p>28 апреля в 3:00 по Москве</p>
                                        <span>LIFE</span>
                                        <span>- 72:51:06</span>
                                    </div>
                                </div>
                            </div>
                            <div class="forecast__score">
                                <dl>
                                    <dt>Прогноз:</dt>
                                    <dd> П1-5 (1,7)</dd>
                                </dl>
                                <span>Бесплатный</span>
                            </div>
                       </div>
                    </article>
                    <article class="forecast forecast_false">
                        <div class="forecast__content">
                            <div class="forecast__result">
                               <p class="forecast__status">
                                   {{Icon iconName='false' className='forecast__status-icon' iconWidth='25' iconHeight='25'}}
                                   Ошибся
                               </p>
                                <span>Свой прогноз</span>
                            </div>
                            <div class="forecast__main">
                               <div class="forecast__sport">
                                   {{Icon iconName='box' className='forecast__icon' iconWidth='30' iconHeight='30'}}
                               </div>
                                <div class="forecast__match">
                                    <p class="forecast__comands">
                                        <span>Чикаго Булс</span> - <span>Манчестер Юнайтед</span>
                                    </p>
                                    <div class="forecast__time">
                                        <p>28 апреля в 3:00 по Москве</p>
                                        <span>LIFE</span>
                                        <span>- 72:51:06</span>
                                    </div>
                                </div>
                            </div>
                            <div class="forecast__score">
                                <dl>
                                    <dt>Прогноз:</dt>
                                    <dd> П1-5 (1,7)</dd>
                                </dl>
                                <span>Бесплатный</span>
                            </div>
                       </div>
                    </article>
                    {{> forecast/forecast}}
                </div>
            </section>
        </div>
    </section>
    <section class="popup multiple js-popup">
        <h3 class="popup__title">Прогнозы от аналитика: <span>Лорд Воландеморт</span></h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            {{> forecastCard/forecastCard forecastCard.mini}}
            {{> expressCard/expressCard expressCard.mini}}
            {{> forecastCard/forecastCard forecastCard.mini}}
            {{> expressCard/expressCard expressCard.mini}}
        </div>
    </section>
    <section class="popup rating js-popup">
        <h3 class="popup__title">Как расчитывается рейтинг аналитика</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <p class="rating__formula">
                <img src="static/img/general/formula.png" alt="">где <span> К </span> - коэффициент сделанного прогноза</p>
            <p>Рейтинг аналитика отражает денежный эквивалент заработаных им денег. Являясь множителем абстрактной изначальной суммы денег.</p>
            <p>Расчитывается как <b>отношение суммы угаданных коэфициентов с вычетом еденицы из каждого к сумме проигранны коэфов (без вычетов)</b>
            </p>
            <p>Голосования также влияют на ваш рейтинг в зависимости от того верно ли вы проголосовали или нет. Размер влияния на рейтинг при голосования меньше в 10 раз чем при создании собственных прогнозов. Для лайков и дизлайков баллы считаются
                по разному:</p>
            <p>Лайкнул и угадал, то прибавляем к числителю общей формулы рейтинга аналитика:
                <br> <span class="rating__oprange-text">( К-1) : 10</span>
            </p>
            <p>Лайкнул и не угадал, то прибавляем к знаменателю общей формулы рейтинга аналитика:
                <br> <span class="rating__oprange-text">К : 10</span>
            </p>
            <p>Дизлайкнул и угадал, то прибавляем к числителю общей формулы рейтинга “Ra”:
                <br> <span class="rating__oprange-text">(1/(КЭФ-1))/10</span>
            </p>
            <p>Дизлайкнул и не угадал, то прибавляем к знаменателю общей формулы рейтинга “Ra”:
                <br> <span class="rating__oprange-text">(1/КЭФ)/10</span>
            </p>
        </div>
        <div class="popup__footer">
            <p>
                Подытожим: <span>Чем выше Ra (рейтинг) аналитика, тем больше он может умножить ваш капитал!</span>
            </p>
        </div>
    </section>
    <section class="popup balance-add js-popup">
        <h3 class="popup__title">Пополнить балас с:</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <div class="balance-add__forms">
                <div class="balance-add__tabs">
                    <label for="" class="balance-add__tab active">
                        <input type="radio" name="balance-add" value="card">
                        <p>VISA или MasterCard</p>
                    </label>
                    <label for="" class="balance-add__tab">
                        <input type="radio" name="balance-add" value="qiwi">
                        <p>QIWI кошелек</p>
                    </label>
                    <label for="" class="balance-add__tab">
                        <input type="radio" name="balance-add" value="yandex">
                        <p>ЯНДЕКС кошелек</p>
                    </label>
                </div>
                <form class="balance-add__form active balance-add__card" action="">
                    <div class="balance-add__item">
                        <p class="balance-add__text">Номер карты</p>
                        <input name="balance-add" type="number" class="balance-add__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Срок действия</p>
                        <input name="balance-add" type="number" class="balance-add__time" placeholder="00 / 00">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Владелец</p>
                        <input name="balance-add" type="text" class="balance-add__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">CSV код</p>
                        <input name="balance-add" type="text" class="balance-add__code" placeholder="000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Пополнить на</p>
                        <input name="balance-add" type="text" class="balance-add__summ" placeholder="9 999">
                        <p class="balance-add__text">рублей</p>
                    </div>
                </form>
                <form class="balance-add__form balance-add__qiwi" action="">
                    <div class="balance-add__item">
                        <p class="balance-add__text">Номер карты 2</p>
                        <input name="balance-add" type="number" class="balance-add__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Срок действия</p>
                        <input name="balance-add" type="number" class="balance-add__time" placeholder="00 / 00">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Владелец</p>
                        <input name="balance-add" type="text" class="balance-add__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">CSV код</p>
                        <input name="balance-add" type="text" class="balance-add__code" placeholder="000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Пополнить на</p>
                        <input name="balance-add" type="text" class="balance-add__summ" placeholder="9 999">
                        <p class="balance-add__text">рублей</p>
                    </div>
                </form>
                <form class="balance-add__form balance-add__yandex" action="">
                    <div class="balance-add__item">
                        <p class="balance-add__text">Номер карты 3</p>
                        <input name="balance-add" type="number" class="balance-add__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Срок действия</p>
                        <input name="balance-add" type="number" class="balance-add__time" placeholder="00 / 00">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Владелец</p>
                        <input name="balance-add" type="text" class="balance-add__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">CSV код</p>
                        <input name="balance-add" type="text" class="balance-add__code" placeholder="000">
                    </div>
                    <div class="balance-add__item">
                        <p class="balance-add__text">Пополнить на</p>
                        <input name="balance-add" type="text" class="balance-add__summ" placeholder="9 999">
                        <p class="balance-add__text">рублей</p>
                    </div>
                </form>
            </div>
            <button type="submit" class="balance-add__submit">Пополнить баланс</button>
        </div>
    </section>
    <section class="popup balance-withdraw js-popup">
        <h3 class="popup__title">ВЫВОД СРЕДСТВ С БАЛАНСА</h3>
        <button type="button" class="popup__close">Закрыть</button>
        <div class="popup__content">
            <p class="balance-withdraw__warn">
                <span>Предупреждение!</span> Из средств выводимых на ваши карты или кошельки будет удержана комиссияв размере 10%. Это связано с законами налогооблажения юридических лиц + условиями обналичивания в банках.
            </p>
            <div class="balance-withdraw__forms">
                <div class="balance-withdraw__tabs">
                    <label for="" class="balance-withdraw__tab active">
                        <input type="radio" name="balance-withdraw" value="card">
                        <p>VISA или MasterCard</p>
                    </label>
                    <label for="" class="balance-withdraw__tab">
                        <input type="radio" name="balance-withdraw" value="qiwi">
                        <p>QIWI кошелек</p>
                    </label>
                    <label for="" class="balance-withdraw__tab">
                        <input type="radio" name="balance-withdraw" value="yandex">
                        <p>ЯНДЕКС кошелек</p>
                    </label>
                </div>
                <form class="balance-withdraw__form active balance-withdraw__card" action="">
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Номер карты</p>
                        <input name="balance-withdraw" type="number" class="balance-withdraw__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Владелец</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Сумма</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__summ" placeholder="9 999">
                        <p class="balance-withdraw__text">рублей</p>
                    </div>
                </form>
                <form class="balance-withdraw__form balance-withdraw__qiwi" action="">
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Номер карты 2</p>
                        <input name="balance-withdraw" type="number" class="balance-withdraw__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Владелец</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Сумма</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__summ" placeholder="9 999">
                        <p class="balance-withdraw__text">рублей</p>
                    </div>
                </form>
                <form class="balance-withdraw__form balance-withdraw__yandex" action="">
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Номер карты 3</p>
                        <input name="balance-withdraw" type="number" class="balance-withdraw__cardnum" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Владелец</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__owner" placeholder="IVANOV  ALEKSANDR">
                    </div>
                    <div class="balance-withdraw__item">
                        <p class="balance-withdraw__text">Сумма</p>
                        <input name="balance-withdraw" type="text" class="balance-withdraw__summ" placeholder="9 999">
                        <p class="balance-withdraw__text">рублей</p>
                    </div>
                </form>
            </div>
            <button type="submit" class="balance-add__submit">Вывести деньги</button>
        </div>
    </section>
    <div class="basket-table">
        <p class="basket-table__title">Корзина</p>
        <div class="basket-table__info">
            <p class="basket-table__desc">прогнозов:</p>
            <p class="basket-table__count"><span>7</span> шт</p>
            <p class="basket-table__desc">сумма:</p>
            <p class="basket-table__total"><span>14200</span>р</p>
        </div>
        <a href="javascript:void(0);" class="basket-table__link"></a>
    </div>
    <div class="overlay"></div>
</footer>
