<section class="competition container">
    <h3 class="competition__title">В конкурсах лидируют:</h3>
    <div class="competition__content">
        <div class="competition__list">
            <article class="competition__item">
                <div class="competition__name">
                    <p>Аналитик этой <a href="javascript:void(0);">недели</a></p>
                    <dl>
                        <dt>Победителю:</dt>
                        <dd>iPhone X</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd><span>3</span> дня</dd>
                    </dl>
                </div>
                <a href="javascript:void(0);" class="competition__prize">
                    <img src="%=static=%img/assets/competition/{{imageName}}.jpg" alt="">
                </a>
                <div class="competition__analyst">
                    <a href="javascript:void(0);">Лорд Воландеморт</a>
                    {{> diagramm/diagramm}}
                    <dl>
                        <dt>Лидирует и набрал за эту неделю:</dt>
                        <dd><span>17</span>%</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd>Вы отстаете на <span>9</span>%</dd>
                    </dl>
                </div>
            </article>
            <article class="competition__item {{mounth}}">
                <div class="competition__name">
                    <p>Аналитик этого <a href="javascript:void(0);">месяца</a></p>
                    <dl>
                        <dt>Победителю:</dt>
                        <dd>iPhone X</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd><span>3</span> дня</dd>
                    </dl>
                </div>
                <a href="javascript:void(0);" class="competition__prize">
                    <img src="%=static=%img/assets/competition/{{imageName}}.jpg" alt="">
                </a>
                <div class="competition__analyst">
                    <a href="javascript:void(0);">Лорд Воландеморт</a>
                    <dl>
                        <dt>Лидирует и набрал за эту неделю:</dt>
                        <dd><span>17</span>%</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd>Вы отстаете на <span>9</span>%</dd>
                    </dl>
                </div>
            </article>
            <article class="competition__item {{mounth}}">
                <div class="competition__name">
                    <p>Аналитик этого <a href="javascript:void(0);">месяца</a></p>
                    <dl>
                        <dt>Победителю:</dt>
                        <dd>iPhone X</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd><span>3</span> дня</dd>
                    </dl>
                </div>
                <a href="javascript:void(0);" class="competition__prize">
                    <img src="%=static=%img/assets/competition/{{imageName}}.jpg" alt="">
                </a>
                <div class="competition__analyst">
                    <a href="javascript:void(0);">Лорд Воландеморт</a>
                    <dl>
                        <dt>Лидирует и набрал за эту неделю:</dt>
                        <dd><span>17</span>%</dd>
                    </dl>
                    <dl>
                        <dt>Осталось:</dt>
                        <dd>Вы отстаете на <span>9</span>%</dd>
                    </dl>
                </div>
            </article>
        </div>
        <div class="competition__info">
            <p>По окончанию конкурса набравший больше всех процентов рейтинга с момента его начала, получит разыгрываемый приз. В каждой из номинаций свой приз и свой срок проведения. Участвуйте в голосованиях у прогнозов, создавайте собственные прогнозы, и получайте соответсвующие проценты рейтинга за каждый прогноз.</p>
            <p>Для участия в конкурсе необходимо лишь зарегестрироваться на сайте. Далее ваши результаты голосований будут автоматически ранжироваться среди остальных пользователей сервиса. Удачи!</p>
            <a href="javascript:void(0)" class="button">Отчет вручения призов</a>
            <a href="javascript:void(0)" class="button">Рейтинги аналитиков</a>
        </div>
    </div>
</section>
