<section class="categories container">
    <div class="categories__list">
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            {{Icon iconName='box' className='categories__item-icon' iconWidth='57' iconHeight='59'}}
            <p class="categories__item-name">Бокс</p>
        </div>
    </div>
</section>
