<section class="categories container">
    <div class="categories__list">
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
        <div class="categories__item">
            <img class="categories__item-icon" src="%=static=%img/assets/categories/box.jpg" alt="">
            <p class="categories__item-name">Бокс</p>
        </div>
    </div>
</section>
