<article class="forecast">
   <div class="forecast__content">
        <div class="forecast__result">
           <p class="forecast__status">
               {{Icon iconName='wait' className='forecast__status-icon' iconWidth='25' iconHeight='25'}}
               Ожидаем
           </p>
            <span>Свой прогноз</span>
        </div>
        <div class="forecast__main">
           <div class="forecast__sport">
               {{Icon iconName='box' className='forecast__icon' iconWidth='30' iconHeight='30'}}
           </div>
            <div class="forecast__match">
                <p class="forecast__comands">
                    <span>Чикаго Булс</span> - <span>Манчестер Юнайтед</span>
                </p>
                <div class="forecast__time">
                    <p>28 апреля в 3:00 по Москве</p>
                    <span>LIFE</span>
                    <span>- 72:51:06</span>
                </div>
            </div>
        </div>
        <div class="forecast__score">
            <dl>
                <dt>Прогноз:</dt>
                <dd> П1-5 (1,7)</dd>
            </dl>
            <span>Бесплатный</span>
        </div>
   </div>
</article>
