.diagramm {
    display: inline-flex;
    align-items: center;

    p {
        margin: 0;
        margin-right: rem(10);
        font-family: $helvetica;
        font-size: rem(18);
        color: $orange;
        font-weight: 400;
    }

    &__circle {
        width: rem(28);
        height: rem(28);
    }

    &_mini {
        .diagramm__circle {
            width: rem(22);
            height: rem(22);
        }
    }
}

.timer {
    display: none!important;
}
