<article class="forecastCard {{modifier}}">
   <div class="forecastCard__content">
        <div class="forecastCard__sport-league">
            {{Icon iconName='box' className='forecastCard__sport-icon' iconWidth='30' iconHeight='30'}}
            {{Icon iconName='league' className='forecastCard__league-icon' iconWidth='30' iconHeight='30'}}
        </div>
        <div class="forecastCard__match-details">
            <p class="forecastCard__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
            <p class="forecastCard__comand">
                <img src="%=static=%img/general/flag.png" alt="">
                Чикаго Булс
            </p>
            <div class="forecastCard__time">
                <p>28 апреля в 3:00 по Москве</p>
                <span>LIFE</span>
                <span>- 72:51:06</span>
            </div>
        </div>
        <div class="forecastCard__coefficient">
            <p>1.7</p>
        </div>
        <div class="forecastCard__info">
            <a href="javascript:void(0);" class="forecastCard__name js-open" data-src=".analist">Оптимус прайм {{> diagramm/diagramm}}</a>
            <p class="forecastCard__result">Форма 2 (-6)</p>
            <a href="javascript:void(0);" class="forecastCard__buy"><p>В корзину: <span>900</span> руб</p></a>
            <a href="javascript:void(0);" class="forecastCard__more">Смотреть подробнее</a>
            <p class="forecastCard__desc">По подписке дешевле</p>
        </div>
        <div class="forecastCard__consonants">
            <div class="forecastCard__like">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='forecastCard__like-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Согласных:</dt>
                    <dd>1024</dd>
                </dl>
            </div>
            <div class="forecastCard__dislike">
                <a href="javascript:void(0);">
                    {{Icon iconName='like' className='forecastCard__dislike-icon' iconWidth='22' iconHeight='25'}}
                </a>
                <dl>
                    <dt>Не согласны:</dt>
                    <dd>273</dd>
                </dl>
            </div>
            <div class="forecastCard__comment">
                <a href="javascript:void(0);">
                    {{Icon iconName='review' className='forecastCard__comment-icon' iconWidth='22' iconHeight='19'}}
                </a>
                <dl>
                    <dt>Комментариев</dt>
                    <dd>98</dd>
                </dl>
            </div>
        </div>
   </div>
</article>
